@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css";
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");
@font-face {
  font-family: 'roboto_condensedlight';
  src: url("fonts/robotocondensed-light-webfont.eot");
  src: url("fonts/robotocondensed-light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/robotocondensed-light-webfont.woff") format("woff"), url("fonts/robotocondensed-light-webfont.ttf") format("truetype"), url("fonts/robotocondensed-light-webfont.svg#roboto_condensedlight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'roboto_condensedregular';
  src: url("fonts/robotocondensed-regular-webfont.eot");
  src: url("fonts/robotocondensed-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/robotocondensed-regular-webfont.woff") format("woff"), url("fonts/robotocondensed-regular-webfont.ttf") format("truetype"), url("fonts/robotocondensed-regular-webfont.svg#roboto_condensedregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'roboto_condensedbold';
  src: url("fonts/robotocondensed-bold-webfont.eot");
  src: url("fonts/robotocondensed-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/robotocondensed-bold-webfont.woff") format("woff"), url("fonts/robotocondensed-bold-webfont.ttf") format("truetype"), url("fonts/robotocondensed-bold-webfont.svg#roboto_condensedbold") format("svg");
  font-weight: normal;
  font-style: normal; }
.verde {
  color: #44b64f;
  font-family: "roboto_condensedregular", Helvetica, Arial; }

.amarillo {
  color: #ffce55;
  font-family: "roboto_condensedregular", Helvetica, Arial; }

.rojo {
  color: #e8563e;
  font-family: "roboto_condensedregular", Helvetica, Arial; }

input::-webkit-input-placeholder {
  color: #b3b3b3 !important; }

input:-moz-placeholder {
  color: #b3b3b3 !important; }

a {
  color: #999999; }
  a:hover {
    text-decoration: none; }

h2, h3, h4, li {
  font-family: "roboto_condensedlight", Helvetica, Arial; }

.centrar {
  margin: 0 auto; }

.btn-success {
  background: #45bc9b !important;
  padding: 5px 35px !important;
  font-family: "roboto_condensedlight", Helvetica, Arial;
  font-size: 1.3em;
  max-width: 500px; }
  .btn-success:hover {
    background: #3a9f83 !important; }

.w100 {
  width: 100%; }

.h100 {
  height: calc(100% - 270px) !important; }

.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
  background: none !important; }

.bg {
  background: red; }

@media only screen and (max-width: 1200px) {
  .col-md-6:first-child {
    padding-top: 60px !important; }

  .container .cuerpo .info {
    margin-bottom: 50px; } }
@media only screen and (max-width: 992px) {
  .col-md-6:first-child {
    padding: 0 0 30px 0 !important;
    text-align: center !important; }

  .col-md-6 {
    text-align: center; }

  .nav > li > a {
    padding: 9px 15px; }

  .navbar-nav.navbar-right:last-child {
    margin-right: 0 !important; }

  .container .navbar-header {
    padding-left: 0 !important; }
    .container .navbar-header img {
      width: 95px; }
  .container .titulo {
    padding-right: 0 !important;
    margin-right: 0 !important;
    padding-left: 10px !important; }
    .container .titulo h2 {
      margin-top: 10px; }
  .container .resumen {
    padding-left: 0 !important;
    margin-left: 15px;
    padding-top: 20px !important; }
  .container .cuerpo .info {
    margin: 0 0 50px 0 !important; }

  .modal-dialog {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25%; } }
@media only screen and (max-width: 767px) {
  .container > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-header, .container-fluid > .navbar-collapse {
    margin-left: 0 !important; }

  .navbar-header {
    padding-bottom: 15px;
    padding-left: 15px !important; }

  .navbar-toggle {
    margin-top: 15px !important; }

  .navbar-toggle:hover {
    background: #00B3E1 !important; }
    .navbar-toggle:hover:hover .icon-bar {
      background: white; }

  .navbar-collapse {
    background: #00b3e1;
    border: 0;
    position: absolute;
    width: 100%; }
    .navbar-collapse li {
      border-bottom: 1px solid #00aad6; }
      .navbar-collapse li:last-child {
        border: 0; }
      .navbar-collapse li:hover {
        background: #00aad6; }
      .navbar-collapse li a {
        color: white !important; }

  .cuerpo .resumen {
    padding-top: 0 !important;
    margin-left: 0 !important; }
    .cuerpo .resumen h2 {
      font-size: 1.5em; }
    .cuerpo .resumen .btn {
      margin-top: 40px; } }
@media only screen and (max-width: 480px) {
  .container_promo {
    box-shadow: none;
    width: 100%;
    background-position-x: 0; }

  .navbar-header img {
    width: 75px !important; }
  .navbar-header .titulo {
    float: left; }
    .navbar-header .titulo h2 {
      font-size: 1.8em;
      margin-top: 12px;
      margin-bottom: 5px; }

  .cuerpo .container {
    padding-left: 0; }
    .cuerpo .container .resumen {
      padding-top: 0 !important; }
      .cuerpo .container .resumen .btn {
        margin-top: 300px !important;
        width: 100%; }

  .info {
    margin-left: 15px;
    padding-left: 15px; }
    .info article h4 {
      font-size: 1.2em !important; }

  .beneficios {
    height: 450px !important; }
    .beneficios ul > li {
      font-size: 1.2em !important; }

  .footer {
    margin-top: 435px !important; }
    .footer ul {
      padding-left: 0; }
    .footer .scroll_top {
      padding: 10px 10px 0px 10px !important; }

  .modal-dialog {
    width: 100%;
    margin: 0 auto; } }
@media only screen and (max-width: 320px) {
  .container_promo {
    box-shadow: none; }
    .container_promo img {
      left: 0;
      top: 70px; }

  .container .navbar-header img {
    width: 55 !important; }

  .navbar-header img {
    width: 55px !important; }
  .navbar-header .titulo {
    float: left;
    width: 51% !important;
    padding-left: 7px !important; }
    .navbar-header .titulo h2 {
      font-size: 1.3em;
      margin-top: 4px;
      margin-bottom: 3px; }
    .navbar-header .titulo p {
      line-height: 14px; }
  .navbar-header .col-xs-7 {
    padding-left: 8px !important;
    padding-right: 8px !important; }

  .info .container {
    padding-left: 15px !important; }

  .cuerpo {
    padding-left: 15px !important; }
    .cuerpo .resumen {
      padding-top: 0 !important;
      margin-left: 0 !important; }
      .cuerpo .resumen h2 {
        font-size: 1.5em !important;
        margin-top: 0 !important; }
      .cuerpo .resumen .btn {
        margin-top: 250px !important; }
    .cuerpo .info {
      margin-top: 0 !important;
      margin-left: 15px;
      padding-left: 15px !important; }
      .cuerpo .info article {
        margin-top: 0 !important; }
        .cuerpo .info article h4 {
          font-size: 1.1em; } }
@font-face {
  font-family: "MyriadProRegular";
  src: font-url("myriadpro-regular.eot");
  src: font-url(myriadpro-regular.eot?#iefix) format('embedded-opentype'), font-files("myriadpro-regular.woff", woff, "myriadpro-regular.ttf", ttf, "myriadpro-regular.svg", svg); }
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

html, body {
  color: gray;
  height: 100%;
  font-size: 14px;
  font-family: "roboto_condensedlight", Helvetica, Arial; }

h2 {
  font-size: 2.1em; }

h3 {
  font-size: 2em; }

h4 {
  font-size: 1.5em;
  color: #B3B3B3; }

a:hover, .btn:hover, :hover {
  -webkit-transition: background-color .5s linear;
  -moz-transition: background-color .5s linear;
  -o-transition: background-color .5s linear;
  -ms-transition: background-color .5s linear;
  transition: background-color .5s linear; }

.clear {
  clear: both; }

.container_promo {
  box-shadow: inset 0px -25px 30px rgba(0, 0, 0, 0.1);
  height: 677px;
  background-image: url("../images/bg_promo.png");
  background-repeat: no-repeat;
  background-position: 65% 150px;
  width: 100%;
  position: absolute;
  z-index: -1; }

a.ingresa {
  color: white; }

.container .navbar-default {
  background: none;
  border: 0px;
  padding-top: 30px; }
  .container .navbar-default .navbar-header {
    padding-left: 15px; }
    .container .navbar-default .navbar-header .navbar-toggle {
      margin-top: 30px;
      border-color: #eeeeee; }
      .container .navbar-default .navbar-header .navbar-toggle .icon-bar {
        height: 3px; }
    .container .navbar-default .navbar-header .navbar-nav {
      margin-top: 18px; }
.container .cuerpo .resumen {
  padding-top: 40px;
  position: absolute;
  max-width: 600px; }
  .container .cuerpo .resumen .btn {
    border-radius: 0;
    font-size: 1.65em;
    margin-top: 30px;
    padding: 10px 85px; }
.container .cuerpo .promo {
  height: 517px; }
.container .cuerpo .info {
  margin: 110px 0; }
  .container .cuerpo .info article {
    margin: 80px 0; }
    .container .cuerpo .info article .text-ri {
      float: right;
      text-align: right; }
    .container .cuerpo .info article .col-md-6 img {
      max-width: 100%;
      text-align: center; }
    .container .cuerpo .info article .col-md-6:first-child {
      padding-top: 90px;
      padding-bottom: 90px; }
    .container .cuerpo .info article span {
      display: block;
      color: #b2b2b2;
      font-size: .8em;
      margin-top: 20px; }
.container .cuerpo .beneficios {
  background: #7991c8;
  background-image: url("../images/logo_pagoaldia_gris.png");
  background-repeat: no-repeat;
  background-position: 95% 40px;
  color: white;
  height: 410px;
  padding-top: 60px;
  padding-bottom: 40px;
  padding: 60px 15px 40px 15px;
  max-width: 100%;
  width: 100%;
  text-align: center;
  position: absolute;
  left: 0; }
  .container .cuerpo .beneficios h3 {
    margin-bottom: 50px; }
  .container .cuerpo .beneficios ul {
    padding: 0; }
  .container .cuerpo .beneficios ul > li {
    list-style: none;
    margin: 18px 0;
    font-size: 1.3em;
    font-family: "roboto_condensedlight", Helvetica, Arial; }
    .container .cuerpo .beneficios ul > li span {
      margin-right: 9px; }
.container .cuerpo .footer {
  background: #4d4d4d;
  box-shadow: inset 0 10px 10px #474747;
  display: block;
  height: 140px;
  left: 0;
  margin-top: 390px;
  max-width: 100%;
  padding-bottom: 40px;
  padding-top: 60px;
  position: absolute;
  text-align: center;
  width: 100%; }
  .container .cuerpo .footer ul > li {
    display: inline-block;
    margin: 0 20px; }
    .container .cuerpo .footer ul > li a {
      color: #d9d9d9;
      text-decoration: none; }
  .container .cuerpo .footer .scroll_top {
    background: #666666;
    bottom: 10px;
    color: #4c4c4c;
    cursor: pointer;
    font-size: 2em;
    padding: 20px 20px 10px 20px;
    position: absolute;
    right: 10px; }
    .container .cuerpo .footer .scroll_top:hover {
      background: #7f7f7f; }

.modal-dialog {
  width: 400px; }
  .modal-dialog .modal-content {
    padding: 0 25px; }
    .modal-dialog .modal-content .modal-header,
    .modal-dialog .modal-content .modal-footer {
      border: none; }
    .modal-dialog .modal-content .modal-body {
      padding-bottom: 0; }
      .modal-dialog .modal-content .modal-body p {
        margin-top: 10px; }
      .modal-dialog .modal-content .modal-body input {
        margin: 9px 0; }
      .modal-dialog .modal-content .modal-body input::-webkit-input-placeholder {
        color: #cccccc; }
      .modal-dialog .modal-content .modal-body input:-moz-placeholder {
        color: #cccccc; }
      .modal-dialog .modal-content .modal-body .form-control {
        height: 40px; }
    .modal-dialog .modal-content .modal-footer {
      margin-top: 30px;
      padding-bottom: 30px; }
      .modal-dialog .modal-content .modal-footer button {
        width: 100%; }

/*# sourceMappingURL=main_landing.css.map */
