@font-face {
  font-family: 'roboto_condensedlight';
  src: url("fonts/robotocondensed-light-webfont.eot");
  src: url("fonts/robotocondensed-light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/robotocondensed-light-webfont.woff") format("woff"), url("fonts/robotocondensed-light-webfont.ttf") format("truetype"), url("fonts/robotocondensed-light-webfont.svg#roboto_condensedlight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto_condensedregular';
  src: url("fonts/robotocondensed-regular-webfont.eot");
  src: url("fonts/robotocondensed-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/robotocondensed-regular-webfont.woff") format("woff"), url("fonts/robotocondensed-regular-webfont.ttf") format("truetype"), url("fonts/robotocondensed-regular-webfont.svg#roboto_condensedregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto_condensedbold';
  src: url("fonts/robotocondensed-bold-webfont.eot");
  src: url("fonts/robotocondensed-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/robotocondensed-bold-webfont.woff") format("woff"), url("fonts/robotocondensed-bold-webfont.ttf") format("truetype"), url("fonts/robotocondensed-bold-webfont.svg#roboto_condensedbold") format("svg");
  font-weight: normal;
  font-style: normal; }

.verde {
  color: #44b64f;
  font-family: "roboto_condensedregular", Helvetica, Arial; }

.amarillo {
  color: #ffce55;
  font-family: "roboto_condensedregular", Helvetica, Arial; }

.rojo {
  color: #e8563e;
  font-family: "roboto_condensedregular", Helvetica, Arial; }

input::-webkit-input-placeholder {
  color: #b3b3b3 !important; }

input:-moz-placeholder {
  color: #b3b3b3 !important; }

a {
  color: #999999; }
  a:hover {
    text-decoration: none; }

h2, h3, h4, li {
  font-family: "roboto_condensedlight", Helvetica, Arial; }

.centrar {
  margin: 0 auto; }

.btn-success {
  background: #45bc9b !important;
  padding: 5px 35px !important;
  font-family: "roboto_condensedlight", Helvetica, Arial;
  font-size: 1.3em;
  max-width: 500px; }
  .btn-success:hover {
    background: #3a9f83 !important; }

.w100 {
  width: 100%; }

.h100 {
  height: calc(100% - 270px) !important; }

.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
  background: none !important; }

.bg {
  background: red; }
