@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");
@font-face {
  font-family: 'roboto_condensedlight';
  src: url("fonts/robotocondensed-light-webfont.eot");
  src: url("fonts/robotocondensed-light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/robotocondensed-light-webfont.woff") format("woff"), url("fonts/robotocondensed-light-webfont.ttf") format("truetype"), url("fonts/robotocondensed-light-webfont.svg#roboto_condensedlight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'roboto_condensedregular';
  src: url("fonts/robotocondensed-regular-webfont.eot");
  src: url("fonts/robotocondensed-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/robotocondensed-regular-webfont.woff") format("woff"), url("fonts/robotocondensed-regular-webfont.ttf") format("truetype"), url("fonts/robotocondensed-regular-webfont.svg#roboto_condensedregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'roboto_condensedbold';
  src: url("fonts/robotocondensed-bold-webfont.eot");
  src: url("fonts/robotocondensed-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/robotocondensed-bold-webfont.woff") format("woff"), url("fonts/robotocondensed-bold-webfont.ttf") format("truetype"), url("fonts/robotocondensed-bold-webfont.svg#roboto_condensedbold") format("svg");
  font-weight: normal;
  font-style: normal; }
.verde {
  color: #44b64f;
  font-family: "roboto_condensedregular", Helvetica, Arial; }

.amarillo {
  color: #ffce55;
  font-family: "roboto_condensedregular", Helvetica, Arial; }

.rojo {
  color: #e8563e;
  font-family: "roboto_condensedregular", Helvetica, Arial; }

input::-webkit-input-placeholder {
  color: #b3b3b3 !important; }

input:-moz-placeholder {
  color: #b3b3b3 !important; }

a {
  color: #999999; }
  a:hover {
    text-decoration: none; }

h2, h3, h4, li {
  font-family: "roboto_condensedlight", Helvetica, Arial; }

.centrar {
  margin: 0 auto; }

.btn-success {
  background: #45bc9b !important;
  padding: 5px 35px !important;
  font-family: "roboto_condensedlight", Helvetica, Arial;
  font-size: 1.3em;
  max-width: 500px; }
  .btn-success:hover {
    background: #3a9f83 !important; }

.w100 {
  width: 100%; }

.h100 {
  height: calc(100% - 270px) !important; }

.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
  background: none !important; }

.bg {
  background: red; }

@media only screen and (max-width: 1200px) {
  .col-md-6:first-child {
    padding-top: 60px !important; }

  .container .cuerpo .info {
    margin-bottom: 50px; } }
@media only screen and (max-width: 992px) {
  .col-md-6:first-child {
    padding: 0 0 30px 0 !important;
    text-align: center !important; }

  .col-md-6 {
    text-align: center; }

  .nav > li > a {
    padding: 9px 15px; }

  .navbar-nav.navbar-right:last-child {
    margin-right: 0 !important; }

  .container .navbar-header {
    padding-left: 0 !important; }
    .container .navbar-header img {
      width: 95px; }
  .container .titulo {
    padding-right: 0 !important;
    margin-right: 0 !important;
    padding-left: 10px !important; }
    .container .titulo h2 {
      margin-top: 10px; }
  .container .resumen {
    padding-left: 0 !important;
    margin-left: 15px;
    padding-top: 20px !important; }
  .container .cuerpo .info {
    margin: 0 0 50px 0 !important; }

  .modal-dialog {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25%; } }
@media only screen and (max-width: 767px) {
  .container > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-header, .container-fluid > .navbar-collapse {
    margin-left: 0 !important; }

  .navbar-header {
    padding-bottom: 15px;
    padding-left: 15px !important; }

  .navbar-toggle {
    margin-top: 15px !important; }

  .navbar-toggle:hover {
    background: #00B3E1 !important; }
    .navbar-toggle:hover:hover .icon-bar {
      background: white; }

  .navbar-collapse {
    background: #00b3e1;
    border: 0;
    position: absolute;
    width: 100%; }
    .navbar-collapse li {
      border-bottom: 1px solid #00aad6; }
      .navbar-collapse li:last-child {
        border: 0; }
      .navbar-collapse li:hover {
        background: #00aad6; }
      .navbar-collapse li a {
        color: white !important; }

  .cuerpo .resumen {
    padding-top: 0 !important;
    margin-left: 0 !important; }
    .cuerpo .resumen h2 {
      font-size: 1.5em; }
    .cuerpo .resumen .btn {
      margin-top: 40px; } }
@media only screen and (max-width: 480px) {
  .container_promo {
    box-shadow: none;
    width: 100%;
    background-position-x: 0; }

  .navbar-header img {
    width: 75px !important; }
  .navbar-header .titulo {
    float: left; }
    .navbar-header .titulo h2 {
      font-size: 1.8em;
      margin-top: 12px;
      margin-bottom: 5px; }

  .cuerpo .container {
    padding-left: 0; }
    .cuerpo .container .resumen {
      padding-top: 0 !important; }
      .cuerpo .container .resumen .btn {
        margin-top: 300px !important;
        width: 100%; }

  .info {
    margin-left: 15px;
    padding-left: 15px; }
    .info article h4 {
      font-size: 1.2em !important; }

  .beneficios {
    height: 450px !important; }
    .beneficios ul > li {
      font-size: 1.2em !important; }

  .footer {
    margin-top: 435px !important; }
    .footer ul {
      padding-left: 0; }
    .footer .scroll_top {
      padding: 10px 10px 0px 10px !important; }

  .modal-dialog {
    width: 100%;
    margin: 0 auto; } }
@media only screen and (max-width: 320px) {
  .container_promo {
    box-shadow: none; }
    .container_promo img {
      left: 0;
      top: 70px; }

  .container .navbar-header img {
    width: 55 !important; }

  .navbar-header img {
    width: 55px !important; }
  .navbar-header .titulo {
    float: left;
    width: 51% !important;
    padding-left: 7px !important; }
    .navbar-header .titulo h2 {
      font-size: 1.3em;
      margin-top: 4px;
      margin-bottom: 3px; }
    .navbar-header .titulo p {
      line-height: 14px; }
  .navbar-header .col-xs-7 {
    padding-left: 8px !important;
    padding-right: 8px !important; }

  .info .container {
    padding-left: 15px !important; }

  .cuerpo {
    padding-left: 15px !important; }
    .cuerpo .resumen {
      padding-top: 0 !important;
      margin-left: 0 !important; }
      .cuerpo .resumen h2 {
        font-size: 1.5em !important;
        margin-top: 0 !important; }
      .cuerpo .resumen .btn {
        margin-top: 250px !important; }
    .cuerpo .info {
      margin-top: 0 !important;
      margin-left: 15px;
      padding-left: 15px !important; }
      .cuerpo .info article {
        margin-top: 0 !important; }
        .cuerpo .info article h4 {
          font-size: 1.1em; } }

/*# sourceMappingURL=var_landing.css.map */
