@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");
@import url("http://static.puntoticket.com/assets/bootstrap/3.3.5/css/bootstrap.min.css");
@import url("../font/stylesheet.css");
@import url("flipclock.css");
html, body { height: 100vh; }

body { font-size: 13px; background: black; -webkit-background-size: cover; background-size: cover; font-family: 'DIN Condensed'; }

a:hover { text-decoration: none; }

strong { font-weight: 900; }

.p_lr { padding-left: 0; padding-right: 0; }

.text_right { text-align: right; }

.clear { clear: both; }

.center { text-align: center; }

.img-responsive { display: inline; }

.btn_buy { background-color: #b69d57; border: 1px solid #b69d57; border-radius: 0; font-size: 1.7em; color: black; padding: 2px 13px; transition: all .3s; }
.btn_buy:hover { background: #bfa96c; }

.btn_more { background-color: transparent; border: 1px solid white; padding: 4px 13px; }

.line_section { position: absolute; left: 50%; top: -20px; }

.line { height: 30px; border-left: 1px solid white; width: 1px; margin: 0 auto; }

.nav { background-color: white; margin-top: 0px; padding: 15px 0 5px 0; }
.nav .logo_pt { margin: -7px 0 5px 0; }
.nav .fa_social { background-color: #E87A1B; height: 22px; width: 22px; color: white; border-radius: 50%; text-align: center; line-height: 22px; transition: all .2s; }
.nav .fa_social:hover { color: white; background-color: #ed6415; text-decoration: none; }

/* end nav */
.navbar_top { background-color: #ff9600; padding: 5px 0 2px 0; }

.content .pre_countdown { padding: 20px 0; }
.content .pre_countdown .title { color: #ff9600; margin-bottom: 15px; text-transform: uppercase; }
.content .pre_countdown .title h2 { margin: 0; }
.content .pre_countdown .flip-clock-wrapper { display: inline-block; width: initial; }
.content .pre_countdown .flip-clock-label { color: #eee !important; font-size: 1.2em; font-family: 'DIN Condensed'; text-transform: uppercase; }
.content .pre_countdown p { color: #eee; font-size: 1.2em; text-transform: uppercase; }

.cover { margin-top: -20px; }
.cover a.btn_map { transition: all .3s; }
.cover a.btn_map:hover { opacity: .85; }

.modal .close { color: #ff9600; font-size: 3em; opacity: 1; position: absolute; right: 0; text-shadow: initial; top: 0; }
.modal .modal-content { background: transparent !important; border: 0px solid; box-shadow: 0 0 0 transparent !important; }
.modal .modal-header { border-bottom: 0px black; }

@media only screen and (max-width: 768px) { .pre_countdown .title h2 { font-size: 1.5em; }
  .flip-clock-wrapper ul { height: 64px; line-height: 64px; width: 10px !important; padding: 12px !important; }
  .flip-clock-wrapper ul li a div div.inn { font-size: 25px; }
  .flip-clock-divider { width: 10px; height: 80px; }
  .flip-clock-divider .flip-clock-label { right: -45px; }
  .flip-clock-divider .flip-clock-dot { width: 6px; height: 6px; left: 2px; }
  .flip-clock-divider.minutes .flip-clock-label { right: -52px; }
  .flip-clock-divider.seconds .flip-clock-label { right: -56px; } }

/*# sourceMappingURL=main.css.map */
