@import url('https://raw.githubusercontent.com/daneden/animate.css/master/animate.min.css');
* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

body {
  background: white;
  font-family: currier ,'Open Sans', sans-serif !important;
  font-size: 14px;
  font-weight: 300;}

h1 {
  font-weight: 300 !important;
  font-size: 3em;
  line-height: 1.4em !important; }

.wrap {
  background: url('bg.jpg') center center;
	background-size: cover;
  height: calc(100vh - 60px);
  border: 30px solid white; }
  .wrap .quote {
    margin-top: 100px;
    margin-bottom: 100px; 
    padding: 60px;}
    .wrap .quote span {
      background: black;
      color: white;
      padding: 0px 15px 7px 12px;
      display: inline-block; }
    .wrap .quote .blink {
      -webkit-animation-name: blinker;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-timing-function: cubic-bezier(1, 0, 0, 1);
      -webkit-animation-duration: 1s; }

/* Preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  /* change if the mask should have another color then white */
  z-index: 99;
  /* makes sure it stays on top */ }

#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  /* centers the loading animation horizontally one the screen */
  top: 50%;
  /* centers the loading animation vertically one the screen */
  background-image: url(../img/status.gif);
  /* path to your loading animation */
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
  /* is width and height divided by two */ }

@-webkit-keyframes blinker {
  from {
    opacity: 1.0; }

  to {
    opacity: 0.0; } }

@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 992px) {

}

@media only screen and (max-width : 768px) {
  h1{
    font-size: 1.4em;
  }
  .wrap .quote{
    padding: 40px;
  }
}

@media only screen and (max-width : 480px) {

}

@media only screen and (max-width : 320px) {
    
}