@import "main.scss";

// INTERNAS

header{
	height: 576px;
	&.thedrop{
		background: #1c9146 url('../img/img_bg_thedrop.png') center 0  no-repeat !important;
	height: 576px;
		.title{
			color: white !important;
		}
		img{
			stroke: red;
		}
	}
	&.tussta{
		background: $darkblue url('../img/img_bg_tussta.png') center 0 no-repeat !important;
		.title{
			color: white;
		}
	}
	&.simplecrew{
		background: #499EDD url('../img/img_bg_simplecrew.png') center 0  no-repeat !important;
		.title{
			color: white !important;
		}
	}
	&.urbania{
		background: #006C8F url('../img/img_bg_urbania.png') center 0  no-repeat !important;
		.title{
			color: white !important;
		}
	}
	&.toctoc{
		background: #0E70A9 url('../img/img_bg_toctoc.png') center 0  no-repeat !important;
		.title{
			color: white !important;
		}
	}
	&.automovilclub{
		background: #0C0C0C url('../img/img_bg_automovilclub.png') center 0  no-repeat !important;
		.title{
			color: white !important;
		}
	}
}
section{
	&.cover{
		height: 560px;
		transition: transform .7s;
		img{
			display: inline !important;
			// margin-top: -100px;
			transition: transform .7s;
			transform: translate(0px, -100px);
		}
		&.animation{
			transition: transform .7s;
			transform: translate(0px, -40px);
		}
		&.bg_toctoc{
			background: url('../img/img_mapatoctoc.jpg') center 0  no-repeat !important;
		}
	}
	&.message_thedrop{
		background: #1C9146;
		h2{
			text-align: right;
			margin-top: 0;
			font-style: italic;
			& span{
				color: black;
				display: block;
				font-weight: 900;
				font-style: normal;
			}
		}
		p{
			font-size: 1.1em;
			font-weight: 200;
		}
	}
	&.message_tussta{
		background: $darkblue;
		h2{
			text-align: right;
			margin-top: 0;
			font-style: italic;
			& span{
				color: $violet;
				display: block;
				font-weight: 900;
				font-style: normal;
			}
		}
		p{
			font-size: 1.1em;
			font-weight: 200;
		}
	}
	&.message_urbania{
		background: $darkblue;
		h2{
			text-align: right;
			margin-top: 0;
			font-style: italic;
			& span{
				color: #9F5FAA;
				display: block;
				font-weight: 900;
				font-style: normal;
			}
		}
		p{
			font-size: 1.1em;
			font-weight: 200;
		}
	}
	.slide_carousel{
		margin-bottom: 70px;
	}
	.slide_carousel{
		.carousel-fade .carousel-inner{
			.item {
			opacity: 0;
		      -webkit-transition: opacity .5s; 
		         -moz-transition: opacity .5s;
		           -o-transition: opacity .5s;
		              transition: opacity .5s;
			}
			.active {
			  opacity: 1;
				&.active.left,
				&.active.right{
					left: 0;
					opacity: 0;
					z-index: 1;
				}
				&.next.left,
				&.prev.right{
					opacity: 1;
				}
			}
			.carousel-control {
			  z-index: 2;
			}
		}
		.carousel-indicators{
			bottom: -40px;
			li{
				background: #cccccc;
				&.active{
					background: $lightgray;
				}
			}
		}
	}
	&.message_simplecrew{
		background: #499EDD !important;
		h2{
			text-align: right;
			margin-top: 0;
			font-style: italic;
			& span{
				color: black;
				display: block;
				font-weight: 900;
				font-style: normal;
			}
		}
		p{
			font-size: 1.1em;
			font-weight: 200;
		}
	}
	&.message_urbania{
		background: #006C8F !important;
		h2{
			text-align: right;
			margin-top: 0;
			font-style: italic;
			& span{
				color: black;
				display: block;
				font-weight: 900;
				font-style: normal;
			}
		}
		p{
			font-size: 1.1em;
			font-weight: 200;
		}
	}
	&.message_automovilclub{
		background: #FDD325 !important;
		h2{
			text-align: right;
			margin-top: 0;
			font-style: italic;
			color: black;
			& span{
				display: block;
				font-weight: 900;
				font-style: normal;
			}
		}
		p{
			color: black;
			font-size: 1.1em;
			font-weight: 200;
		}
	}
}
footer{
	background: #0c0c0c;
}







