@import "../bower_components/bootstrap/dist/css/bootstrap.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
@import "_var.scss";

//

.clear{
	clear: both;
}
*{
	outline: 0 !important;
}
html{
	height: 100%;
}
body{
	background: white;
	font-family: 'Titillium Web', sans-serif;
	height: 100%;
	font-size: 14px;
}
h2{
	font-weight: 200;
}
input,
textarea{
	border-radius: 3px !important;
	padding: 25px 15px !important;
	&:focus{
		background: #bfffea;
	}
}
input{
	height: 65px !important;
}
.violet{
	background: $violet;
}
.btn-skyblue{
	color: white;
	border-radius: 3px;
	background-color: #00B4E3;
	-webkit-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	width: 35%;
	margin-top: 15%;
	&:hover{
		color: white;
		background: #00d0e2;
		text-shadow: 0 1px 1px rgba(0,0,0,.3);
	}
}
.btn-black{
	color: white;
	width: 223px;
	height: 60px;
	margin-top: 5px;
	border-radius: 2px;
	background-color: #2A3138;
	-webkit-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	font-family: Lato,sans-serif;
	font-size: 13px;
	&:hover{
		color: white;
		background: #2c445b;
		width: 275px;
	}
}
.center{
	text-align: center;
}
.block{
	margin: 40px 0;
}
.width100{
	color: white;
	display: inline-flex;
	padding: 50px 0;
	width: 100%;
}
.carousel_logos{
	margin-top: 50px;	
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.collapsing,
.collapse.in{
	background: $darkblue !important;
	margin-top: 50px
}
.carousel_logos .item {
    -webkit-transition: 1s ease-in-out left;
    -moz-transition: 1s ease-in-out left;
    -o-transition: 1s ease-in-out left;
    transition: 1s ease-in-out left;
}
.navbar-fixed-top .navbar-collapse{
	max-height: none !important; 
	margin-top: 5px !important;
}
.carousel-indicators{
	bottom: -40px;
	li{
		background: #cccccc;
		&.active{
			background: $lightgray;
		}
	}
}
.carousel{
	.carousel_flechas{
	 	margin-top: 8%;
		background-image: linear-gradient(to right, rgba(0, 0, 255, 0) 0%, rgba(0, 0, 0, 0.0001) 100%);
		opacity: .4;
		width: 3%;
		&.fl_left{
			margin-left: -50px;
			&:hover{
				opacity: .8;
			}
		}
		&.fl_right{
			margin-right: -50px;
			&:hover{
				opacity: .8;
			}
		}
	}
	
}

.carousel_slide{
	.carousel_flechas{
		margin-top: 26% !important;
	}
}

/////////////////////////////////////////


header {
	background-color: #091B27;
	background-image: url('../img/fondonuevo.jpg');
	background-position: 50% 0px;
	background-repeat: no-repeat;
	.nav-top{
		background: none;
		border: 0 solid !important;
		// height: 118px;
		margin-top: 50px;
		transform: translate(0px,-50px);
		.navbar-toggle{
			border: 0 solid !important;
			margin-top: 20px;
			margin-bottom: 0;
			&:hover{
				background: none !important;
			}
			.icon-bar{
				background: white;
			}
		}		
		.navbar-nav{
			margin-top: 20px;
			a{
				color: white;
			}
			.dropdown-menu{
				background: rgba(3,20,30,.8) !important;
				padding: 0;
				a{
					transition: all .2s;
					padding: 12px 20px;
					&:hover{
						background: rgba(16,51,73,.9) !important;
					}
				}
				li:last-child{
					box-shadow: inset 0 -3px 2px #111;
				}
			}
		}
		&.navbar-fixed-top{
			margin-top: 0px !important;
			background: $darkgray;
			padding: 5px 15px 0 15px;
			height: 60px !important;
			box-shadow: 0 2px 10px rgba(0,0,0,0.3);
			transition: transform .8s;
			transform: translate(0px,0px);
			z-index: 123456789 !important;
			.navbar-brand{
				padding: 0 !important;
				img{
					width: 90px;
				}
			}
			.navbar-nav{
				margin-top: 0;
			}
			.navbar-toggle{
				margin-top: 8px;
			}
		}
	}
	.section{
		color: white;
		text-align: center;
		h1{
			font-size: 4em;
			font-weight: 200;
			span{
				font-weight: 700;
				display: block;
			}
		}
		h2{
			font-weight: 700;
			margin: 20px 0;
		}
		.description{
			line-height: 1.8em;
			margin: 30px 0 80px 0;
			text-align: left;
			p{
				margin-bottom: 25px;
			}
		}
	}
	.header_circle{
		margin-top: 50px;
		margin-bottom: 50px;
		.circle{
			border: 2px solid white;
			border-radius: 50%;
			max-height: 150px;
			line-height: 150px;
			width: 150px;
			float: none !important;
			margin: 0 2%;
			padding: 0 15px;
			display: inline-block; 
		}
		.destacado{
			display: inline-block; 
			vertical-align: middle;
			line-height: 14px;
			font-weight: 700;
			font-size: 1.1em;
			span{
				font-weight: 200;
				display: block;
				font-size: .9em;
			}
		}
	}	
}

section{
	.project{
		margin-top: 40px;
		.impulsados_clientes{
			opacity: .4;
			margin: 40px 0;
		}
		&.mar-top{
			margin-top: 230px !important;
		}
	}
	.portafolio{
		padding-top: 20px;
		padding-left: 0 !important;
		padding-right: 0 !important;
		.portafolio_app{
			margin: 5px 0;
			padding-left: 5px !important;
			padding-right: 5px !important;
		}
	}
	.figure{
		position:relative;
		width:100%;
		// height:60%;
		overflow:hidden;
		// margin:0.3125em;
		padding:0;
		float:left;
		.thumbs{
			width:100%;
			height:100%;
			img{
				position:relative;
				min-width:100%;
				max-height:120%;
				-webkit-transition:all 0.25s ease-in-out;
				-moz-transition:all 0.25s ease-in-out;
				-mos-transition:all 0.25s ease-in-out;
				-o-transition:all 0.25s ease-in-out;
				transition:all 0.25s ease-in-out;
				z-index:-2;
			}
		}
		&:hover .thumbs img{
			-webkit-transform: translateY(-1em);
			-moz-transform: translateY(-1em);
			-mos-transform: translateY(-1em);
			-o-transform: translateY(-1em);
			transform: translateY(-1em);
		}
		figcaption{
			background: #11b1ff;
			height:2.6em;
			left:0;
			bottom:-4.063em;
			color:#fff;
			position:absolute;
			-webkit-transition:all 0.25s ease-in-out;
			-moz-transition:all 0.25s ease-in-out;
			-mos-transition:all 0.25s ease-in-out;
			-o-transition:all 0.25s ease-in-out;
			transition:all 0.25s ease-in-out;
			z-index:5;
			width:100%;
			a{
				color: white;
				font-size: 1.3em;
				font-weight: 200;
				padding: 4px 15px 0 15px;
				position:absolute;
			    overflow: hidden;
				text-overflow: ellipsis;
				width: 14.5em;
				white-space: nowrap;
				z-index:3;
				&:hover{
					text-decoration: none;
				}
			}
			&:after{
				content: "";
				display: block;
				position: absolute;
				bottom: 1.563em;
				right: 0;
				border-right: 25em solid #0C88C5;
				border-top: 2.5em solid transparent;
			}
			&:before{
				content: "";
				display: block;
				position: absolute;
				bottom: 1.563em;
				right: 0;
				border-left: 25em solid #11b1ff;
				border-top: 2.5em solid transparent;
				// opacity: .9;
				z-index:1;
			}
		}
		&:hover figcaption{
			bottom:0;
		}
	}
	&.message{
		background: $darkgray;
		color: white;
		display: inline-block;
		padding: 50px 0;
		width: 100%;
		h2{
			margin-bottom: 30px;
			font-weight: 200;
			span{
				font-weight: 700;
				&.skyblue{
					color: $skyblue !important;
				}
			}
		}
	}
	.stages{
		// .nav-tabs{
		// 	border: 0 solid;
		// 	li{
		// 		display: inline-block !important;
		// 		float: none !important;
		// 		margin-bottom: 0px !important;
		// 		a{
		// 			border: 0 solid;
		// 			border-radius: 2px;
		// 			border-top: 8px solid #e6e6e6;
		// 			color: #666666;
		// 			font-size: 1.1em;
		// 			padding: 42px 29px;
		// 			transition: all .2s;
		// 			text-transform: uppercase;
		// 			&:hover{
		// 				background: #f5f5f5 !important;
		// 				border-top: 8px solid $skyblue;
		// 			}
		// 		}
		// 		&.active a{
		// 			border: 0 solid;
		// 			border-top: 8px solid $skyblue;
		// 		}
		// 	}
		// }
		// .tab-content{
		// 	background: #e6e6e6;
		// 	padding: 25px;
		// 	min-height: 150px;
		// }
		h3{
			font-size: 1.4em;
		} 
		.col-xs-3{
			padding: 0px 35px;
			h3{
				margin: 25px 0;
			}
			p{
				color: #7f7f7f;
			}
		}
	}
	&.contact{
		margin-bottom: 40px;
		.contact_form{
			background: $skyblue;
			display: block;
			padding: 40px 25px;
			.form-control{
				margin-bottom: 15px;
			}
		}
	}
}

footer{
	background: #2A3138;
	color: white;
	display: inline-block;
	width: 100%;
	.message{
		background: $lightgray !important;
		h2{
			padding: 15px ;
			font-weight: 200;
			span{
				font-weight: 700;
				&.skyblue{
					color: $skyblue !important;
				}
			}
		}
	}
	.footer{
		color: #7f7f7f;
		padding: 30px 0;
		p{
			margin-bottom: 5px;
		}

	}
	.copy{
		background: $lightgray;
		color: #7f7f7f;
		padding: 6px;
	}	
}







// MOZ
@-moz-document url-prefix() {
    figcaption{
    	&:after{
			content: none !important;
		}
		&:before{
			content: none !important;
		}
    }
}