* {
  outline: 0;
  padding: 0;
  margin: 0; }

html {
  position: relative;
  min-height: 100%; }

body {
  background: #f3f3f3;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
  height: 100%;
  padding: 0;
  margin: 0;
  width: 100%; }

a,
a:hover,
a:visited,
a:focus,
a:active {
  text-decoration: none; }

.aqua {
  color: #15aa90; }

.btn-base {
  background: transparent;
  color: #15aa90;
  border: 2px solid transparent;
  border-radius: 15px;
  padding: 5px 25px !important;
  -webkit-transition: all .3s;
          transition: all .3s; }
  .btn-base:hover, .btn-base.active {
    color: #15aa90;
    background: none !important;
    border: 2px solid #15aa90; }

.btn-base-white {
  background: transparent;
  color: #15aa90;
  border: 2px solid transparent;
  border-radius: 15px;
  padding: 5px 25px !important;
  -webkit-transition: all .3s;
          transition: all .3s; }
  .btn-base-white:hover, .btn-base-white.active {
    color: white !important;
    background: none !important;
    border: 2px solid white; }

.exit:hover {
  color: #e74c3c !important;
  background: none !important;
  border: 2px solid #e74c3c; }

.btn-success {
  background: #15aa90;
  color: white;
  border: 0px solid #262633 !important; }
  .btn-success:hover {
    color: white;
    background: #10957d !important;
    border-radius: 15px;
    text-shadow: 0 2px 0px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 4px 3px rgba(0, 0, 0, 0.2), inset 0 -4px 2px rgba(255, 255, 255, 0.1); }

.btn-base-mora {
  background: none;
  color: #4f507f;
  border: 2px solid #4f507f !important; }
  .btn-base-mora:hover, .btn-base-mora.active {
    color: white !important;
    background: #4f507f !important;
    border-radius: 15px;
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.3); }

.btn-group {
  margin: 0 15px; }
  .btn-group label {
    float: left;
    color: #4f507f;
    margin-top: 8px;
    margin-right: 10px;
    font-weight: 300; }
  .btn-group a {
    color: #4f507f;
    margin: 0 5px;
    border: 0px solid #15aa90 !important;
    font-weight: 300; }
    .btn-group a:hover, .btn-group a.active {
      color: white !important;
      background: #1ba088 !important;
      border-radius: 17px !important;
      border: 0px solid #1ba088 !important;
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.15); }

.btn-mora {
  background: #4f507f;
  color: white;
  border: 0px solid #262633 !important; }
  .btn-mora:hover, .btn-mora:visited, .btn-mora:active {
    color: white;
    background: #45466d !important;
    border-radius: 15px;
    text-shadow: 0 2px 0px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 3px 2px rgba(0, 0, 0, 0.6); }

.btn-info {
  background: #39394C;
  color: white;
  border: 2px solid #4f507f !important; }
  .btn-info:hover {
    color: white;
    background: #4f507f !important; }

.padd_cero {
  padding-left: 0;
  padding-right: 0; }

.clear {
  clear: both; }

.center {
  text-align: center; }

/* /////////////////////// */
.wrap_login {
  background: url("../img/bg_login.jpg") 0 0 no-repeat;
  background-size: cover;
  height: 100vh;
  overflow-y: hidden; }
  .wrap_login .login {
    background: #15aa90;
    border-radius: 2px;
    margin-top: 200px;
    padding: 20px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); }
    .wrap_login .login h2 {
      margin-bottom: 20px;
      font-weight: 300; }
    .wrap_login .login input {
      margin: 10px 0;
      border-radius: 15px; }
    .wrap_login .login button {
      border-bottom: 3px solid #3b3c66 !important;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
      font-size: 1.1em;
      margin: 30px 0 15px 0;
      width: 100%; }
    .wrap_login .login a {
      color: #0e0e12;
      font-size: .8em; }

.header_logo {
  background: #0e0e12;
  padding: 10px 0; }
  .header_logo .nav-head {
    display: inline-block; }
    .header_logo .nav-head img {
      display: block;
      padding: 15px 0; }

.header_menu {
  background: #262633;
  width: 100%;
  position: absolute;
  left: 0;
  top: 90px; }
  .header_menu .collapsem, .header_menu .nav, .header_menu .menu {
    min-width: 1100px !important;
    background: #262633; }
  .header_menu .menu li {
    padding: 15px 10px; }
    .header_menu .menu li .fa {
      margin-right: 5px; }
  .header_menu .menu_secondary {
    background: #262633;
    border-top: 1px solid #3f3f3f;
    padding: 25px 0;
    min-width: 1100px !important; }
    .header_menu .menu_secondary .user, .header_menu .menu_secondary .km {
      background: #414154;
      color: white;
      border-radius: 4px;
      padding: 5px 25px !important; }
      .header_menu .menu_secondary .user i, .header_menu .menu_secondary .km i {
        margin-right: 10px; }
    .header_menu .menu_secondary .user, .header_menu .menu_secondary .km, .header_menu .menu_secondary .btn-success {
      font-size: 1.1em; }
    .header_menu .menu_secondary div:first-child {
      padding-left: 10px; }

.header_menu_enterprise {
  background: #15aa90;
  width: 100%;
  position: absolute;
  left: 0;
  top: 90px; }
  .header_menu_enterprise .menu li {
    padding: 15px 2px; }
    .header_menu_enterprise .menu li a {
      color: #a5e5d9; }
    .header_menu_enterprise .menu li .fa {
      margin-right: 5px; }
  .header_menu_enterprise .right-inner-addon {
    margin-top: 15px;
    position: relative; }
  .header_menu_enterprise .right-inner-addon input {
    border-radius: 15px;
    padding-right: 30px; }
  .header_menu_enterprise .right-inner-addon i {
    color: #aaa;
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none; }
  .header_menu_enterprise .search {
    -webkit-transition: all .3s;
            transition: all .3s; }
    .header_menu_enterprise .search:focus {
      color: #835fb5;
      width: 140% !important; }
  .header_menu_enterprise .menu_secondary {
    border-top: 1px solid #39bfa2;
    padding: 25px 0; }
    .header_menu_enterprise .menu_secondary .user, .header_menu_enterprise .menu_secondary .km, .header_menu_enterprise .menu_secondary .btn-success {
      font-size: 1.1em; }

.cuerpo {
  height: calc(100% - 170px);
  padding-top: 250px;
  margin: 0 auto; }
  .cuerpo .table {
    min-width: 1100px !important; }
    .cuerpo .table th, .cuerpo .table td {
      border: 0px solid;
      padding: 10px 15px; }
    .cuerpo .table thead {
      background: #e6e6e6;
      color: #aaa; }
      .cuerpo .table thead a {
        color: #aaa; }
    .cuerpo .table tbody td {
      border-bottom: 1px solid #e6e6e6;
      vertical-align: middle; }
      .cuerpo .table tbody td .accion {
        border-radius: 50%;
        margin: 2px;
        padding: 5px 8px;
        text-align: center;
        width: 30px; }

.edit td {
  padding: 5px 7px !important; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: black; }
