/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .btn-base {
    padding: 5px 20px !important; }

  .header_menu .menu li {
    padding: 15px 2px; } }
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
