@import 'media.scss';
$type1 	: 'nike', Helvetica Neue, Helvetica, Arial;

$gris90	: #e6e6e6;
$gris80	: #cccccc;
$gris40 : #666666;
$gris20 : #333333;
$orange : #ff7600;


@mixin border-radius($radius) {
	border-radius: $radius;
}
@mixin transition($transition){
	-webkit-transition: all $transition ease-in-out;
	-moz-transition: all $transition ease-in-out;
	-ms-transition: all $transition ease-in-out;
	-o-transition: all $transition ease-in-out;
	transition: all $transition ease-in-out;
}
h1{
	color: white;
	font-size: 1.9em;
	margin-bottom: 0px;
	letter-spacing: 4px;
}
h3{
	font-size: 1.7em;
	letter-spacing: .1em;
}
h3.white{
	color: white;
}
h4{
	font-size: 1.1em;
	margin-bottom: 5px;
	margin-top: 15px;;
}
h4.orange{
	color: $orange;
}
h5{
	font-size: 1em;
	height: 20px;
	letter-spacing: .04em;
}
input[type="text"],
input[type="email"],
input[type="number"]{
	//border-radius: 4px !important;
	outline: none;
	@include transition(.2s); }
input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus{
	outline: none;
	border: 1px solid $orange;
	box-shadow: none ;//0 0 5px $orange;
}
select{
	-webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
    outline:none;
    display: inline-block;
    // -webkit-appearance:none;
    // -moz-appearance:none;
    // appearance:none;
    // cursor:pointer;
}
input[type="radio"], 
input[type="checkbox"]{
	margin-top: 1px !important;
}
.radio{
	padding: 0;
	input{
		float: right !important;
		margin: 0 !important;
	}
}
.btn{
	border: 0px solid;
	border-radius: 0;
	font-family: $type1;
}
.btn-warning{
	background: $orange;
	color: black;
}
.btn-next{
	background: $orange;
	padding-left: 25px;
	padding-right: 25px;
	&:hover{
		background: black;
		color: $orange;
	}
}
.btn-edit{
	background: black;
	color: white;
	margin: 0 5px;
	padding-left: 25px;
	padding-right: 25px;
	&:hover{
		color: $orange;
	}
}
.btn-tyc{
	background: transparent;
	border: 1px solid $orange;
	border-radius: 0;
	color: black;
	padding: 0 10px 0 25px;
	text-transform: none;
	height: 30px;
	.img_btn{
		background: $orange;
		height: 30px;
		left: 0;
		margin-top: -2px;
		margin-right: 10px;
		padding-top: 7px;
		position: absolute;
		vertical-align: middle;	
		width: 30px;
	}
}
.btn-next-black{
	background: transparent;
	border: 1px solid $orange;
	border-radius: 0;
	color: white;
	margin-left: 15px;
	padding: 0 15px;
	text-transform: none;
	height: 30px;
	.img_btn{
		color: black;
		background: $orange;
		height: 30px;
		left: 0;
		margin-top: -1px;
		margin-right: 10px;
		padding-top: 7px;
		position: absolute;
		vertical-align: middle;	
		width: 30px;
	}
}
.btn-estado-black{
	background: transparent;
	border: 1px solid white;
	color: white;
	font-size: 1.2em;
	letter-spacing: .15em;
	padding-right: 30px;
	padding-left: 30px; 
	&:hover{
		background: white;
		color: black;
	}
}
.btn-footer{
	background: transparent;
	border: 1px solid $gris90;
	border-radius: 0;
	bottom: 0;
	color: black;
	padding: 0 10px 0 0;
	position: absolute;
	text-transform: none;
	.img_btn{
		background: black;
		display: inline-block;
		height: 30px;
		margin-right: 10px;
		padding-top: 2%;
		vertical-align: middle;	
		width: 30px;
	}
}
.btn-down{
	background: transparent;
	border: 1px solid $gris90;
	border-radius: 0;
	color: black;
	margin: 5px;
	padding: 0 10px 0 0;
	text-transform: none;
	.img_btn{
		background: $orange;
		display: inline-block;
		height: 30px;
		margin-right: 10px;
		padding-top: 2%;
		vertical-align: middle;	
		width: 30px;
	}
}
.w_100{
	width: 100%;
}
.form-group{
	margin-bottom: 5px;
}
.form-control{
	background-color: black;
    border: 2px solid white;
	border-radius: 0 !important;
	color: #F3F3F3;
	display: inline-block;
	//-moz-appearance: none;
	//-webkit-appearance: none;
	padding: 4px 8px !important;
}
.form-control:focus {
    background-color: white;
    border: 2px solid black !important;
    color: black !important;
    font-weight: 400;
    outline: 0;
}
.form-control::-moz-placeholder {
    color: #F3F3F3;
    font-size: .9em;
}
.form-control:-ms-input-placeholder {
    color: #F3F3F3;
    font-size: .9em;
}
.form-control::-webkit-input-placeholder  {
    color: #F3F3F3;
    font-size: .9em;
}
.form-control:focus::-moz-placeholder {
    color: #999999;
    font-size: .9em;
}
.form-control:focus:-ms-input-placeholder {
    color: #999999;
    font-size: .9em;
}
.form-control:focus::-webkit-input-placeholder  {
    color: #999999;
    font-size: .9em;
}
label{
	cursor: pointer;
}
a:active,
button:active,
button:focus,{
	outline: 0 !important;
}
strong{
	font-family: $type1;
	font-size: 1em;
}
.text1{
	font-family: Helvetica Neue, Helvetica, Arial;
	font-size: .83em;
	font-weight: 600;
}
.lima{
	color: $orange;
	font-family: $type1;
}
.center{
	text-align: center
}
.clear{
	clear: both;
}
.padd_cero{
	padding: 0;
}
.padd_dies{
	padding: 0 5px;
}
.modal-backdrop{
	background: rgba(0,0,0,.9) !important;
}
// body.modal-open{
// 	margin-right: 0 !important;
// }
.modal{
	.mt_10{
		margin-top: 12%;
	}
	.modal-content{
		background: none !important;
		box-shadow: none !important;
		border: 0px solid;
		.modal-header{
			border-bottom: 1px solid $gris20;
		}
		.modal-footer{
			border: 0px solid;
			text-align: left;
		}
		.modal-body{
			color: white !important;
			font-size: .8em;
			text-align: justify;
			a{
				color: $orange;
			}
		}
		.remove{
			font-size: 7em;
			color: $orange;
		}
	}
	.close{
		color: $orange;
		font-weight: 100;
		font-size: 2em;
		opacity: 1;
		text-shadow: none;
		&:hover{
			color: white;
		}
	}
	&#error 
		.modal-body{
			text-align: center;
		}
		.modal-footer{
			text-align: center !important;
			.btn-next-black{
				padding-left: 0;
				margin-left: 0;
				.img_btn{
					margin-top: -2px;
					position: relative !important;
				}
			}
		}
}

// END VAR


body{
	color: #252525;
	font-size: 14px;
	background-repeat: repeat !important;
	background-position: 0 0 !important;
}
.santiago21k{
	background: url('../img/img_santiago21k_vertical.png') center center no-repeat;
	height: 299px;
	left: -10px;
	position: absolute;
	top: 60%;
	width: 90px;
	z-index: -2;
}
.bg_header_text{
	margin: 0 auto;
}
.bg_header_img{
	position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    max-height: 520px;
}
.img_header, img[src$="head-inner.jpg"]{
	width: 100%;
}
.title_inscription{
	.timeline{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		.head_steps{
			flex: 1;
		}
		.line{
			background: black;
			height: 4px;
			position: relative;			
			.point{
				@include border-radius(50%);
				background: black;
				height: 8px;
				right: 0px;		
				position: absolute;
				top: -2px;		
				width: 8px;
			}
		}
		.unactive h5{
			color: $orange !important;
		}
		.unactive .line,
		.unactive .line .point{
			background: $orange !important;
		}
	}
}

.steps{
	display: inline-block;
	margin: 15px 0;
	min-height: 400px;
	.form-group{
		display: inline-flex;
		margin: 0 !important;
		padding: 0 !important;
		width: 100%;
		.inp_text,
		.selector{
			height: 27px !important;
			font-family: $type1;
			border-radius: 3px !important; 
		}
		.padd_select{
			padding: 0 1px !important;
		}
		.rad{
			margin-right: 30px !important;
		}
		.unrequired{
			margin-left: 5px;
		}
	}
	.form_group_radio{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-wrap: wrap;
    	width: 100%;
		.time{
			.form-control{
				width: 33.3%;
				float: left;
			}
		}
	}
	.form_radio{
		background-color: black;
		border: 2px solid white;
		color: white;
		padding: 0;
		&:hover{
			cursor: pointer;
		}
		label{
			color: white;
			display: block;
			padding: 8px ;
		}
		.radio{
			font-family: Helvetica Neue, Helvetica, Arial;
			font-size: .83em;
			margin-bottom: 0;	
			margin-top: 0;
			input{
				margin-top: 3px !important;
			}
		} 
		&.focus{
			background-color: white !important;
			border: 2px solid black !important;
			label{
				color: black !important;
			}
		}
	}
	.action{
		margin-top: 40px;	
		margin-bottom: 40px;	
		padding: 0 10px;
	}
	.next{
		margin: 15px 0;
		padding-right: 0;
		text-align: right;
		.alert_edad{
			background: black;
			color: $orange;
			min-height: 32px;
			font-size: .8em;
			font-weight: 600;
			padding-top: 7px;
			padding-bottom: 7px;
		}
	}
	&.step4{
		.data p{
			background-color: white;
		    font-size: .9em;
		    font-weight: 600;
		    padding: 10px;
		    position: relative;
		    .edit{
		    	position: absolute;
		    	background-color: $orange;
		    	color: black;
		    	font-size: 1.4em;
		    	height: 36px;
		    	width: 36px;
		    	padding-top: 10px;
		    	padding-left: 10px;
		    	right: 0;
		    }
		}
	}
}
.tshirt{
	.radio{
		margin-right: 15px;
	}
	.table{
		font-family: $type1;
		thead tr th,
		tbody tr td{
			background: white !important;
			color: black !important;
			border-left: 0px solid !important;
		}
		th, td{
			// border-bottom: 0px solid;
			border-top: 0px solid;
			text-align: center;
		}
	}
}
.pay{
	.resumen{
		display: inline-block;
		.info3, .info4{
			background: white;
			padding-top: 15px;
			padding-bottom: 15px;
			min-height: 215px;
		}
	}
}
.metodo{
	&.mt_15{
		margin-top: 15px;
	}
}
.confirmation{
	.messenge{
		background: black;
		padding: 15px 25px;
		.color_orange{
			color: $orange;
			font-size: 1.6em;
		}
		p{
			color: white;
			letter-spacing: 0px;
			font-size: .8em;
		}
	}
}
.banner_appstore{
	display: inline-block;
	margin: 20px 0;
	.banner_btns{
		height: 120px;
		.fb{
			left: 5%;
		}
		.tw{
			right: 5%;
		}
	}
}
.download{
	text-align: right;
}

.unbackground{
	background: none !important;
	padding-bottom: 0 !important;
}
.server_mantenince{
	background: black url('../img/img_bg_black.jpg') repeat center center;
	min-height: 500px;
	padding: 40px 0;
	
}
.first_closing{
	h3 a.lima{
		color: $orange;
		text-decoration: underline;
		&:hover{
			color: $orange;
		}
	}
}
.mystatus{
	.box{
		background: white;
		color: black;
		font-family: $type1;
		padding: 15px;
		font-size: 1.2em;
		min-height: 230px;
		margin-bottom: 5px;
		.action{
			margin-top: 10px;
			button{
				color: black;
			}
		} 
	}
	.btns_status{
		padding-left: 6px;
	}
	.box_status{
		border: 2px solid white;
		font-family: $type1;
		margin-bottom: 5px;
		max-height: 57px;
		padding: 10px 15px;
		position: relative;
		vertical-align: middle;
		span{
			color: white;
			font-size: 1.5em;
		}
		p{
			font-size: .9em;
			margin: 0;
		}
		.icon{
			position: absolute;
			right: 7px;
			top: 0;
			border-left: 2px solid white;
			padding-top: 8px;
			padding-bottom: 8px;
			padding-left: 5px;
		}
		&.kit{
			padding-top: 5px !important;
			p{
				margin-top: -5px;
			}
			.icon{
				padding-top: 10px !important;
				padding-top: 10px !important;
			}
		}
	}
	.reenviar{
		background: $orange;
		border: 1px solid $orange;
		color: black;
		font-family: $type1;
		font-size: 1.35em;
		padding: 10px 15px;
	}
	.action{
		margin-top: 35px;
		button{
			color: white;
			span{
				color: black;
			}
		}
	}
}







/* < 480 */
.swoosh{
	background-color: #ff7600;
	height: 70px;
	img{
		padding-top: 24px;
	}
}











/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
	position: absolute;
	left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
	position: relative;
	padding-left: 25px;
	cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
	content: '';
	position: absolute;
	left:0; top: 2px;
	width: 30px; height: 30px;
	border: 1px solid #aaa;
	background: #f8f8f8;
	border-radius: 1px;
	box-shadow: inset 0 1px 3px rgba(0,0,0,.3)
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
	content: '✔';
	position: absolute;
	top: 3px; left: 0px;
	font-size: 14px;
	color: $orange;
	transition: all .2s;
	background-color: black;
    padding: 4px 8px;
    text-align: center;
    width: 30px;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
	opacity: 0;
	transform: scale(0);
}
[type="checkbox"]:checked + label:after {
	opacity: 1;
	transform: scale(1);
}

/*
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
*/

/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
	border: 1px dotted blue;
}

/* hover style just for information */
label:hover:before {
	border: 1px solid #4778d9!important;
}







