@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.menu_data {
		.data .ico{
			width: 30px
		}
	}


	.form-control{
		border: 1px solid white !important;
	}
	.form_radio{
		border: 1px solid white !important;
	}
	.container{
		padding: 0;
	}
	.steps{

	}
	.timeline{
		h5{
			padding: 0 10px;
		}
	}
	.action{
		padding: 0 !important;
	}
	.next{
		padding: 0;
		margin-bottom: 0;
		.btn{
			display: block;
			width: 100%;
			margin: 0;
			font-size: 1.6em;
		}
	}

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
	
}