@import url("../bower_components/bootstrap/dist/css/bootstrap.min.css");
@import url("../bower_components/font-awesome/css/font-awesome.min.css");
@import url("../bower_components/animate.css/animate.min.css");
@import url("../fonts/stylesheet.css");
body { background-color: #E61D2B; color: white; font-size: 14px; }

h1, h2, h3, h4, h5 { font-family: 'Knockout'; }

h1 { color: white; font-size: 3.5em; font-family: 'ChunkFive'; margin: 15px 0; text-transform: uppercase; text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4); }

h2 { color: white; font-size: 3em; margin: 15px 0; text-transform: uppercase; text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4); }

h3 { color: white; font-size: 2.5em; margin: 15px 0; text-transform: uppercase; text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5); }

h4 { color: white; font-size: 2em; margin: 15px 0; text-transform: uppercase; text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5); }

a, a:hover { text-decoration: none; }

hr { border: 0; height: 50px; background: url("../img/img_bg_hr.png") center 0 no-repeat; }

.img-responsive { display: inline-block !important; }

.p_lr { padding-left: 0; padding-right: 0; }

.text_right { text-align: right; }

.clear { clear: both; }

.center { text-align: center; }

.transition, .cover .social .fa, .content nav .navbar-toggle .icon-bar, .content nav .navbar-toggle:hover .icon-bar, .content nav .navbar-toggle:visited .icon-bar, .content nav .navbar-toggle:focus .icon-bar, .content nav .navbar-toggle:active .icon-bar, .content nav ul li a, .content .article .col a img, .video_gallery .video_xl img, .video_gallery .video_xs img, .video_gallery .follow a, .second_menu a path, .second_menu h4, footer .top .social .fa, .content_interna .nav-tabs li a, .content_interna .form .form-group .form-control, .content_interna .form .btn_send { transition: all .2s; }

/* HOME */
.cover { background: url("../img/img_bg_cover.jpg") center 0 no-repeat; min-height: 450px; }
.cover .social { text-align: right; margin: 15px 0; }
.cover .social .fa { border: 2px solid white; border-radius: 50%; box-shadow: 0 4px 2px rgba(0, 0, 0, 0.9); color: white; height: 34px; font-size: 1.4em; margin-left: 5px; margin-right: 5px; padding-top: 6px; text-align: center; width: 34px; }
.cover .social .fa:hover { border: 2px solid #FFCF48; color: #FFCF48; }
.cover .slogan { margin-top: 15%; }

.content { background: url("../img/img_shadow_bottom.png") center top no-repeat; -webkit-background-size: contain; background-size: contain; }
.content nav { background-color: transparent !important; border: 0px solid transparent !important; padding: 30px 0; margin: 0; }
.content nav .container-fluid, .content nav .navbar-collapse { padding: 0 !important; }
.content nav .navbar-toggle, .content nav .navbar-toggle:hover, .content nav .navbar-toggle:visited, .content nav .navbar-toggle:focus, .content nav .navbar-toggle:active { background-color: transparent; border: 0px solid; }
.content nav .navbar-toggle:hover .icon-bar, .content nav .navbar-toggle:hover:hover .icon-bar, .content nav .navbar-toggle:visited:hover .icon-bar, .content nav .navbar-toggle:focus:hover .icon-bar, .content nav .navbar-toggle:active:hover .icon-bar { background-color: #FFCF48; }
.content nav .navbar-toggle .icon-bar, .content nav .navbar-toggle:hover .icon-bar, .content nav .navbar-toggle:visited .icon-bar, .content nav .navbar-toggle:focus .icon-bar, .content nav .navbar-toggle:active .icon-bar { background-color: white; height: 6px; width: 40px; }
.content nav ul { margin: 0; padding: 0; float: none; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; flex-wrap: wrap; justify-content: space-between; }
.content nav ul li { list-style: none; }
.content nav ul li a { border-bottom: 2px solid transparent; color: #FFCF48 !important; font-family: 'Knockout'; font-size: 1.4em; padding: 0; text-decoration: none; text-transform: uppercase; }
.content nav ul li a:hover, .content nav ul li a.active { border-bottom: 2px solid white; color: white !important; text-decoration: none; }
.content .article { position: relative; }
.content .article .col { padding: 4px; }
.content .article .col a { background: black; display: block; margin: 0; padding: 0; overflow: hidden; }
.content .article .col a:hover img { opacity: .9; }
.content .article .col a img { pacity: 1; width: 100%; }

.video_gallery { background-color: #BD141F; padding: 30px 0; }
.video_gallery .col { padding: 4px; }
.video_gallery .col:hover { cursor: pointer; }
.video_gallery .video_xl { background-position: -8px center !important; background-repeat: no-repeat !important; -webkit-background-size: cover !important; background-size: cover !important; padding-bottom: 45%; }
.video_gallery .video_xl img { position: absolute; left: 0; right: 0; top: 38%; margin-left: auto; margin-right: auto; opacity: .8; }
.video_gallery .video_xl img:hover { opacity: 1; }
.video_gallery .video_xs { background-position: 100% -8px !important; background-repeat: no-repeat !important; -webkit-background-size: cover !important; background-size: cover !important; padding-bottom: 10%; margin-bottom: 11px; }
.video_gallery .video_xs:first-child { background-position: 8px 0px !important; }
.video_gallery .video_xs img { position: absolute; right: 5%; bottom: 10%; margin: auto; width: 20px; opacity: .8; }
.video_gallery .video_xs img:hover { opacity: 1; }
.video_gallery .follow a { color: white; font-size: .9em; margin-top: 10px; }
.video_gallery .follow a:hover { opacity: .9; text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4); }

.second_menu { padding: 90px 0; }
.second_menu a:hover svg path, .second_menu a:hover h4 { opacity: .85; text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.9); }
.second_menu h4 { margin: 30px 0; }

footer .top { background-color: #BD141F; padding: 20px 0 25px 0; }
footer .top .social { margin: 15px 0; }
footer .top .social .fa { border: 2px solid white; border-radius: 50%; box-shadow: 0 4px 2px rgba(0, 0, 0, 0.4); color: white; height: 34px; font-size: 1.4em; margin-left: 5px; margin-right: 5px; padding-top: 6px; text-align: center; width: 34px; }
footer .top .social .fa:hover { border: 2px solid #FFCF48; color: #FFCF48; }
footer .bottom { background-color: #A7111A; padding: 20px 0; }

/* INTERNA */
.interna h1 { margin-bottom: 40px; }

.content_interna { margin-bottom: 60px; display: inline-block; width: 100%; }
.content_interna #accordion .panel { background-color: #ce1825; }
.content_interna #accordion .panel-default { border: 0px solid !important; }
.content_interna #accordion .panel-heading { background-color: #BD141F; border: 0px solid !important; color: white; padding: 0 15px; }
.content_interna #accordion .panel-heading a { display: inline-block; padding: 12px 15px; width: 100%; }
.content_interna #accordion .panel-heading a:hover, .content_interna #accordion .panel-heading a:visited, .content_interna #accordion .panel-heading a:active, .content_interna #accordion .panel-heading a:focus { text-decoration: none; }
.content_interna #accordion .panel-heading .fa { color: #FFCF48; font-size: .9em; margin-top: 2px; }
.content_interna #accordion .panel-heading h4 { font-size: 1.6em; text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); }
.content_interna #accordion .panel-body { color: #F3F3F3; border: 0px solid !important; font-family: 'Knockout'; font-size: 1.2em; line-height: 1.2em; padding: 30px 30px 50px 30px; }
.content_interna .nav-tabs { border-bottom: 0px solid; margin-bottom: 30px; text-align: center; }
.content_interna .nav-tabs li { display: inline-block; float: none; }
.content_interna .nav-tabs li.active a, .content_interna .nav-tabs li.active svg path, .content_interna .nav-tabs li.active svg path.path, .content_interna .nav-tabs li.active h2 { background-color: transparent; color: #FFCF48; fill: #FFCF48; }
.content_interna .nav-tabs li a { border: 0px solid; cursor: pointer; }
.content_interna .nav-tabs li a:hover, .content_interna .nav-tabs li a:hover h2 { background-color: transparent; border: 0px solid; color: #FFCF48; text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5); }
.content_interna .nav-tabs li a:hover svg path { fill: #FFCF48 !important; }
.content_interna .nav-tabs li a svg { height: 150px; display: inline-block; vertical-align: middle; width: 150px !important; }
.content_interna .nav-tabs h2 { display: inline; }
.content_interna .tab-content { margin-bottom: 60px; }
.content_interna .form .form-group { margin-bottom: 2px; padding: 4px; }
.content_interna .form .form-group .form-control { background-color: transparent; border: 1px solid white; font-size: 1.2em; color: white; }
.content_interna .form .form-group .form-control::-webkit-input-placeholder { /* WebKit, Blink, Edge */ color: white; }
.content_interna .form .form-group .form-control:-moz-placeholder { color: white; opacity: 1; }
.content_interna .form .form-group .form-control::-moz-placeholder { color: white; opacity: 1; }
.content_interna .form .form-group .form-control:-ms-input-placeholder { color: white; }
.content_interna .form .form-group .form-control:placeholder-shown { color: white; }
.content_interna .form .form-group .form-control:focus { background-color: #BD141F; }
.content_interna .form .form-group .btn-group { width: 100%; }
.content_interna .form .form-group .select { background-color: transparent; border: 1px solid white; border-radius: 4px; color: white; display: inline-block; font-size: 1.2em; padding: 6px 12px; width: 100%; }
.content_interna .form .btn_send { background-color: white; color: #E61D2B; font-family: 'Knockout'; font-size: 2em; font-weight: bold; margin-top: 30px; margin-bottom: 50px; text-transform: uppercase; }
.content_interna .form .btn_send:hover { background-color: #A7111A; color: white; }

.noticias article { margin-bottom: 60px; }
.noticias article .title h3 { margin-bottom: 0; }
.noticias article .title span { color: #FFCF48; }
.noticias article img { margin-bottom: 20px; }

.region:hover path.path { fill: #FFCF48; }

.regiones .map svg path { cursor: pointer; }
.regiones .map svg path:hover, .regiones .map svg path:visited, .regiones .map svg path:focus, .regiones .map svg path.active { fill: #FFCF48; }
.regiones .sex h3 { margin-bottom: 50px; display: inline-block; }
.regiones .sex a { color: white; display: block; font-family: 'Knockout'; margin: 50px 0; font-size: 4.2em; }
.regiones .sex a .fa { margin-right: 5px; }
.regiones .sex a:hover { color: #FFCF48; text-shadow: 0 3px 2px rgba(0, 0, 0, 0.5); }

/* MODAL */
.modal-open { overflow: overlay !important; padding-right: 0 !important; }

.modal-dialog { background-color: transparent; }

.close { font-size: 51px; text-shadow: 0 1px 0 transparent; opacity: 1; }

@media only screen and (max-width: 768px) { nav li { display: block; width: 100%; padding: 5px 15px; text-align: center; }
  nav li a { border-bottom: 2px solid #BD141F !important; }
  nav li a:hover, nav li a:focus { border-bottom: 2px solid white !important; color: white; } }

/*# sourceMappingURL=main.css.map */
