@import url("../bower_components/bootstrap/dist/css/bootstrap.min.css");
@import url("../bower_components/font-awesome/css/font-awesome.min.css");
@import url("../fonts/stylesheet.css");
body { background: #53c0e2; background: -moz-radial-gradient(center, ellipse cover, #53c0e2 0%, #00a1d4 100%); background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #53c0e2), color-stop(100%, #00a1d4)); background: -webkit-radial-gradient(center, ellipse cover, #53c0e2 0%, #00a1d4 100%); background: -o-radial-gradient(center, ellipse cover, #53c0e2 0%, #00a1d4 100%); background: -ms-radial-gradient(center, ellipse cover, #53c0e2 0%, #00a1d4 100%); background: radial-gradient(ellipse at center, #53c0e2 0%, #00a1d4 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#53c0e2', endColorstr='#00a1d4', GradientType=1 ); background-attachment: fixed; font-family: 'Futura'; color: white; font-size: 14px; letter-spacing: .1em; }

h1, h2, h3, h4 { font-family: 'Futura'; text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); text-align: center; margin: 0; }

h1 { font-size: 2.9em; }

h2 { font-size: 2.4em; }

h3 { font-size: 1.8em; }

input:hover, input:focus, input:visited, a:hover, a:focus, a:visited { text-decoration: none !important; outline: 0 !important; }

h4 { font-size: 1em; }

.p_lr { padding-left: 0; padding-right: 0; }

.tar { text-align: right; }

.clear { clear: both; }

.center { text-align: center; }

.img-responsive { display: inline; }

.nav { background-color: white; padding: 2px 0; }

.step1 { padding-bottom: 20px; }

.title { padding: 18px 0; }

.section { display: inline-block; margin-bottom: 5px; width: 100%; }
.section .col-xs-6 { padding: 5px; }
.section .article { background-color: white; border-radius: 4px; padding: 20px 30px 10px 30px; text-align: center; display: block; visibility: hidden; }
.section .article.bounce, .section .article.pulse, .section .article.fadeIn, .section .article.slideInLeft, .section .article.slideInRight { visibility: visible !important; }
.section .article#a1 { color: #dd7a92; }
.section .article#a2 { color: #6697c4; }
.section .article#a3 { color: #40c6a8; }
.section .article#a4 { color: #9983dd; }
.section .article p { margin: 10px 0 0 0; font-size: 1.3em; }

.only { margin: 15px 0 15px 0; display: inline-block; width: 100%; }
.only a { color: white; font-size: 1.1em; }

.step2 { display: none; padding-bottom: 20px; width: 100%; }
.step2 h5 { font-size: 1.4em; }
.step2 .mt { margin-top: 30px; }
.step2 form .form-control { height: 45px; font-size: 1.3em; text-transform: none !important; }
.step2 form .form-control label { color: #11a7d7; display: block; padding-left: 30px; padding-top: 5px; padding-bottom: 5px; }
.step2 form .form-control label .radio_ { margin-left: -30px; }
.step2 form .btn-primary { font-size: 1.5em; margin: 30px 0; text-align: center; }
.step2 .box_error label { /*display: block !important;*/ font-size: .9em; letter-spacing: .1em; margin: 0 !important; text-transform: uppercase; }
.step2 .a_collap { color: white; font-size: 1.1em; margin-bottom: 5px; display: block; }
.step2 .well { background-color: transparent; line-height: 1.2em; padding: 15px; text-align: justify; }

.fadeIn { display: block !important; }

.step1, .fadeOut { -webkit-animation-duration: .2s !important; }

div.box_error { display: none; }

//.box_error label.error { display: inline; }

@media only screen and (min-width: 1201px) { h1 { font-size: 4em; }
  h2 { font-size: 3.4em; }
  h3 { font-size: 2.55em; }
  .title { padding: 50px 0; } }
@media only screen and (max-width: 768px) { h1 { font-size: 2.9em; }
  h2 { font-size: 2.4em; }
  h3 { font-size: 1.8em; } }

/*# sourceMappingURL=main.css.map */
