@import url("../bower_components/bootstrap/dist/css/bootstrap.min.css");
@import url("../bower_components/animate.css/animate.min.css");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,100");
body { color: black; font-size: 14px; font-family: 'Roboto', sans-serif; font-weight: 300; line-height: 1em; overflow-x: hidden; }

.img-responsive { display: inline-block !important; }

.p_lr { padding-left: 0; padding-right: 0; }

.text_right { text-align: right; }

.clear { clear: both; }

.center { text-align: center; }

#ready { display: none; }

section.cover { background-color: #212121; height: 100vh; width: 100%; color: #ddd; position: relative; overflow: hidden; }
section.cover #line { background-color: #1C1C1C; color: #595959; font-size: .8em; line-height: 1.8em; left: 0px; padding: 55px 15px; position: absolute; z-index: 12; }
section.cover nav.navbar { background-color: transparent; z-index: 1; }
section.cover nav.navbar.navbar-default { background-color: transparent; border: 0px solid; border-bottom: 1px solid #4C4C4C; padding: 0 !important; margin-bottom: 0 !important; }
section.cover nav.navbar .navbar-brand { padding: 0; }
section.cover nav.navbar .navbar-nav a { color: white; transition: all .3s; }
section.cover nav.navbar .network { margin-top: 15px; }
section.cover nav.navbar .network .fa { background-color: #3F3F3F; color: #999999; border-radius: 50%; height: 24px; line-height: 1.8em; text-align: center; width: 24px; }
section.cover .presentation { padding: 10% 0; }
section.cover .presentation .type-wrap small { font-size: .7em; font-weight: 300; }
section.cover .presentation .type-wrap i { color: #e72b75; font-style: normal; }
section.cover .presentation .type-wrap #typed { font-size: 2em; line-height: 1.2em; font-weight: 100 !important; }
section.cover .presentation .type-wrap .typed-cursor { opacity: 1; font-weight: 100; font-size: 2.2em; -webkit-animation: blink 0.7s infinite; -moz-animation: blink 0.7s infinite; -ms-animation: blink 0.7s infinite; -o-animation: blink 0.7s infinite; animation: blink 0.7s infinite; }

section.skills { display: inline-block; padding: 40px 0 70px 0; width: 100%; }
section.skills h2 { color: #6499c4; font-family: 'Roboto', sans-serif; font-weight: 100; font-size: 4em; margin-bottom: 40px; }
section.skills p { color: #777; line-height: 1.2em; }
section.skills .high_hover h3 { font-size: 18px; }

section.last_project h2 { color: #9182B9; font-size: 4em; font-family: 'Roboto', sans-serif; font-weight: 100; }
section.last_project h3 { color: white; font-family: 'Roboto', sans-serif; font-weight: 100; font-size: 1.5em; margin: 0; padding-top: 15px; }
section.last_project .col { margin: 0; padding: 0; }
section.last_project .client { height: auto; margin: 0; min-height: 280px; transition: all .3s; }
section.last_project .client.first { height: 560px; background-color: #EBEBEB; }
section.last_project .client.teleton { background: #4672BB url("../img/logo_client_cuprum.png") center top no-repeat; }
section.last_project .client.teleton.teleton:hover { background-color: #3e66a9; cursor: pointer; }
section.last_project .client.teleton.teleton .overlay { background: #4672BB; }
section.last_project .client.copacocacola { background: #D4775F url("../img/logo_client_copacocacola.png") center no-repeat; }
section.last_project .client.copacocacola.copacocacola:hover { background-color: #cf664b; cursor: pointer; }
section.last_project .client.copacocacola.copacocacola .overlay { background: #D4775F; }
section.last_project .client.werun { background: #F3D26C url("../img/logo_client_nike.png") center bottom no-repeat; }
section.last_project .client.werun.werun:hover { background-color: #f1cb54; cursor: pointer; }
section.last_project .client.werun.werun .overlay { background: #F3D26C; }
section.last_project .client.puntoticket { background: #e8a55f url("../img/logo_client_puntoticket.png") center center no-repeat; }
section.last_project .client.puntoticket.puntoticket:hover { background-color: #e59849; cursor: pointer; }
section.last_project .client.puntoticket.puntoticket .overlay { background: #e8a55f; }
section.last_project .client.clasificatorias { background: #D4775F url("../img/logo_client_clasificatorias.png") center no-repeat; }
section.last_project .client.clasificatorias.clasificatorias:hover { background-color: #cf664b; cursor: pointer; }
section.last_project .client.clasificatorias.clasificatorias .overlay { background: #D4775F; }
section.last_project .client.capacitatech { background: #77B1DE url("../img/logo_client_capacitatech.png") center no-repeat; }
section.last_project .client.capacitatech.capacitatech:hover { background-color: #62a5d9; cursor: pointer; }
section.last_project .client.capacitatech.capacitatech .overlay { background: #77B1DE; }
section.last_project .client.listoco { background: #A698C7 url("../img/logo_client_listoco.png") center no-repeat; }
section.last_project .client.listoco.listoco:hover { background-color: #9887be; cursor: pointer; }
section.last_project .client.listoco.listoco .overlay { background: #A698C7; }
section.last_project .client.lollapalooza { background: #86BDAC url("../img/logo_client_lollapalooza.png") center no-repeat; }
section.last_project .client.lollapalooza.lollapalooza:hover { background-color: #76b4a1; cursor: pointer; }
section.last_project .client.lollapalooza.lollapalooza .overlay { background: #86BDAC; }
section.last_project .client .overlay { padding: 70px 50px; color: white; }
section.last_project .client .overlay h2 { color: white; @inlude typo3; margin: 25px 0; text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); }
section.last_project .client .overlay .icons { margin: 15px 0; }
section.last_project .client .overlay .icons .fa { margin: 0 3px; font-size: 1.2em; }
section.last_project .client .overlay .btn_round { background-color: white; border-radius: 50%; display: inline-block; height: 85px; margin: 20%; text-align: center; padding-top: 28px; text-decoration: none; transition: all .2s; width: 85px; }
section.last_project .client .overlay .btn_round:hover { box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2); }

section.personal_project { background-color: #4F555E; padding: 0; display: flex; width: 100%; position: relative; }
section.personal_project .col-sm-6 { padding: 0; }
section.personal_project h2 { color: #F3D267; font-family: 'Roboto', sans-serif; font-weight: 100; left: 20px; position: absolute; top: 20px; font-size: 4em; }
section.personal_project .icon { margin: 0; padding: 25%; transition: all .3s; }
section.personal_project .icon svg { width: 100%; transition: all .3s; }
section.personal_project .icon svg .g, section.personal_project .icon svg .g path { transition: all .3s; }
section.personal_project .icon svg:hover .g { opacity: 1; }
section.personal_project .icon svg:hover .g path { fill: #F3D267; box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4); }

footer.footer { background-color: #F3D267; padding: 40px; display: block; width: 100%; position: relative; }

.button_container { cursor: pointer; position: fixed; top: 5%; right: 2%; height: 27px; width: 35px; z-index: 12345; transition: opacity 0s ease; opacity: .5; }
.button_container .middle { opacity: 0; background: white; }
.button_container.active { display: block; cursor: pointer; opacity: 1; }
.button_container.active .top { transform: translateY(11px) translateX(0) rotate(45deg); background: white; }
.button_container.active .middle { opacity: 0; background: white; }
.button_container.active .bottom { transform: translateY(-11px) translateX(0) rotate(-45deg); background: white; }
.button_container span { background: white; border: none; height: 5px; width: 100%; position: absolute; top: 0; left: 0; transition: all .7s ease; }
.button_container span:nth-of-type(2) { top: 11px; }
.button_container span:nth-of-type(3) { top: 22px; }

.overlay { position: fixed; top: 0; left: 0; width: 100%; height: 0%; opacity: 0; visibility: hidden; transition: opacity .35s, visibility .35s, height .35s; overflow: hidden; z-index: 123 !important; }
.overlay.open { cursor: auto; height: 100%; opacity: .95; visibility: visible; width: 100%; }

@keyframes fadeInRight { 0% { opacity: 0; left: 20%; }
  100% { opacity: 1; left: 0; } }
@keyframes blink { 0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; } }
@-webkit-keyframes blink { 0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; } }
@-moz-keyframes blink { 0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; } }
@-ms-keyframes blink { 0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; } }
@-o-keyframes blink { 0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; } }
@media only screen and (max-width: 768px) { #typed { font-size: 1.5em !important; }
  section.last_project .first { height: 300px !important; }
  section.last_project .first h2 { padding-top: 15px; }
  section.last_project h2 { font-size: 3em; }
  section.personal_project h2 { text-align: left; font-size: 3em !important; }
  section.personal_project .icon { padding: 25% 25% 0% 25% !important; } }

/*# sourceMappingURL=main.css.map */
