$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css';
// endbower
@import "var_landing.scss";

@import "compass/css3/font-face";

@include font-face('MyriadProRegular', 
  font-files(
    'myriadpro-regular.woff', woff,
    'myriadpro-regular.ttf', ttf,
    'myriadpro-regular.svg', svg),
    'myriadpro-regular.eot');

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
html, body {
    color: gray; 
    height: 100%;
    font-size: 14px;
    font-family: $typo1 ;
}
h2{font-size: 2.1em;}
h3{font-size: 2em;}
h4{font-size: 1.5em; color: #B3B3B3}
a:hover, .btn:hover, :hover{
    -webkit-transition: background-color .5s linear;
    -moz-transition: background-color .5s linear;
    -o-transition: background-color .5s linear;
    -ms-transition: background-color .5s linear;
    transition: background-color .5s linear;
}
.clear{
    clear: both;
}

.container_promo{
    box-shadow: inset 0px -25px 30px rgba(0,0,0,.1);
    height: 677px;
    background-image: url("../images/bg_promo.png");
    background-repeat: no-repeat;
    background-position: 65% 150px;
    width: 100%;
    // min-width: 100%;
    position: absolute;
    // left: 0;
    z-index: -1;
    // img{
    //     position: absolute;
    //     left: 30%;
    //     top: 142px;
    // }
}
a.ingresa{
    color: white;
}
.container {
    .navbar-default{
        background: none;
        border: 0px;
        padding-top: 30px;
        .navbar-header{
            padding-left: 15px;
            .navbar-toggle{
                margin-top: 30px;
                border-color: #eeeeee;
                .icon-bar{
                    height: 3px;
                }
            }
            .navbar-nav{
                margin-top: 18px; 
            }
        }
    }

    .cuerpo{
        // .container{
        //     padding-left: 0;
        // }
        .resumen{
            padding-top: 40px;
            position: absolute;
            max-width: 600px;
            .btn{
                border-radius: 0;
                font-size: 1.65em;
                margin-top: 30px;
                padding: 10px 85px;
            }
        }
        .promo{
            // background-image: url("../images/bg_promo.png");
            // background-repeat: no-repeat;
            // background-position: 210px 0;
            height: 517px;  
            // width: 963px;
            
        }
        .info{
            margin: 110px 0;
            article{
                margin: 80px 0;
                .text-ri{
                    float: right;
                    text-align: right;
                }
                .col-md-6 img{
                    max-width: 100%;
                    text-align: center;
                }
                .col-md-6:first-child{
                    padding-top: 90px;
                    padding-bottom: 90px;
                }
                span{
                    display: block;
                    color: #b2b2b2;
                    font-size: .8em;
                    margin-top: 20px;
                }

            }
        }
        .beneficios{
            background: #7991c8;
            background-image: url('../images/logo_pagoaldia_gris.png');
            background-repeat: no-repeat;
            background-position: 95% 40px;
            
            color: white;
            height: 410px;
            padding-top: 60px;
            padding-bottom: 40px;
            padding: 60px 15px 40px 15px;
            max-width: 100%;
            width: 100%;
            text-align: center;
            position: absolute;
            left: 0;
            h3{
                margin-bottom: 50px;
            }
            ul{
                padding: 0;
            }
            ul > li{
                list-style: none;
                margin: 18px 0;
                font-size: 1.3em;
                font-family: $typo1 ;
                span{
                    margin-right: 9px;
                }
            }
        }


        .footer{
            background: #4d4d4d;
            box-shadow: inset 0 10px 10px #474747;
            display: block;
            height: 140px;
            left: 0;
            margin-top: 390px;
            max-width: 100%;
            padding-bottom: 40px;
            padding-top: 60px;
            position: absolute;
            text-align: center;
            width: 100%;

            ul > li{
                display: inline-block;
                margin: 0 20px;
                a{
                    color: #d9d9d9;
                    text-decoration: none;
                }
            }

            .scroll_top{
                background: #666666;
                bottom:10px;
                color: #4c4c4c;
                cursor: pointer;
                font-size: 2em;
                padding: 20px 20px 10px 20px;
                position: absolute;
                right: 10px;
                &:hover{
                    background: #7f7f7f;
                }
            }
        }

    }
}// end container



.modal-dialog{
    width: 400px;
    .modal-content{
        padding: 0 25px;
        .modal-header,
        .modal-footer{
            border: none
        }
        .modal-body{
            padding-bottom: 0;
            p{
                margin-top: 10px;
            }
            input{
                margin: 9px 0;
            }
            input::-webkit-input-placeholder {
                color: #cccccc;
            }
            input:-moz-placeholder {
                color: #cccccc;
            }
            .form-control{
                height: 40px;
            }
        }
        .modal-footer{
            margin-top: 30px;
            padding-bottom: 30px;
            button{
                width: 100%;
            }
        }
    }
}



















// /* Responsive: Portrait tablets and up */
// @media screen and (min-width: 768px) {
//     .container {
//         max-width: 730px;
//     }

//     /* Remove the padding we set earlier */
//     .header,
//     .marketing,
//     .footer {
//         padding-left: 0;
//         padding-right: 0;
//     }

//     /* Space out the masthead */
//     .header {
//         margin-bottom: 30px;
//     }

//     /* Remove the bottom border on the jumbotron for visual effect */
//     .jumbotron {
//         border-bottom: 0;
//     }
// }
