@media only screen and (max-width : 1200px) {
    .col-md-6:first-child{
        padding-top: 60px !important;
    }

    .container{
        .cuerpo{
            .info{
                margin-bottom: 50px;
            }
        }
    }
}

@media only screen and (max-width : 992px) {
    // body{
    //     background: yellow;
    // }
    // .container{
    //     padding-left: 0;
    // }
    .col-md-6:first-child{
        padding: 0 0 30px 0 !important;
        text-align: center !important;
    }
    .col-md-6{
        text-align: center;
    }
    .nav > li > a{
        padding: 9px;
    }
    .navbar-nav{
        margin-top: 22px;
    }
    .navbar-nav.navbar-right:last-child{
        margin-right: 0 !important;
    }

    .container{
        .navbar-header{
            padding-left: 0 !important;
            img{
                width: 95px ;
            }
        }
        .titulo{
            padding-right: 0 !important;
            margin-right: 0 !important;
            padding-left: 10px !important;
            h2{
                margin-top: 10px;
            }
        }
        .resumen{
            padding-left: 0 !important; 
            margin-left: 15px;
            padding-top: 20px !important;
        }
        .cuerpo{
            // padding-left: 0 !important;
            .info{
                margin: 0 0 50px 0!important;
                // .container{
                //     padding-left: 0 !important;
                // }
            }
        }
    }
    .modal-dialog{
        width: 400px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25%;
    }
}

@media only screen and (max-width : 767px) {
    // body{
    //     background: peru;
    // }
    .container > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-header, .container-fluid > .navbar-collapse{
        margin-left: 0 !important;
    }
    .navbar-header{
        padding-bottom: 15px;
        padding-left: 15px !important;
    }
    .navbar-toggle{
        margin-top: 15px !important;
    }
    .navbar-toggle:hover{
        background: $celeste !important;
        &:hover .icon-bar{
            background: white;
        }
    }
    .navbar-collapse{
        background: #00b3e1;
        border: 0;     
        li{
            border-bottom: 1px solid #00aad6;
            &:last-child{
                border: 0;
            }
            &:hover{
                background: #00aad6;
            }
            a{
                color: white !important;
            }
        }
    }

    .cuerpo{
        .resumen{
            padding-top: 0 !important;
            margin-left: 0 !important;
            h2{
                font-size: 1.5em;
            }
            .btn{
                margin-top: 40px;
            }
        }
    }


}


@media only screen and (max-width : 480px) {
    .container_promo{
        box-shadow: none;
        width: 100%;
        background-position-x: 0;
    }
    .navbar-header{
        img{
            width: 75px !important;
        }
        .titulo {
            float: left;
            h2{
                font-size: 1.8em;
                margin-top: 12px;
                margin-bottom: 5px;
            }
        }    
    }
    
    .cuerpo{
        .container{
            padding-left: 0;
            .resumen {
                padding-top: 0 !important;
                .btn{
                    margin-top: 300px !important;
                    width: 100%;
                }
            }
        }
    }
    .info{
        margin-left: 15px;
        padding-left: 15px;
        article{
            h4{
            font-size: 1.2em !important;
            }    
        }
    }
    .beneficios{
        height: 450px !important;
        ul > li{
            font-size: 1.2em !important;
        }
    }
    .footer{
        margin-top: 435px !important;
        ul{
            padding-left: 0;
        }
        .scroll_top{
            padding: 10px 10px 0px 10px !important;
        }

    }
    .modal-dialog{
        width: 100%;
        margin: 0 auto;

    }
}

@media only screen and (max-width : 320px) {
    .container_promo{
        box-shadow: none;
        img{
            left: 0;
            top: 70px;
        }
    }
    .container .navbar-header img{
        width: 55 !important;
    }
    .navbar-header{
        img{
            width: 55px !important;
        }
        .titulo {
            float: left;
            width: 51% !important;
            padding-left: 7px !important;
            h2{
                font-size: 1.3em;
                margin-top: 4px;
                margin-bottom: 3px;
            }
            p{
                line-height: 14px;
            }
        }  
        .col-xs-7{
            padding-left: 8px !important;
            padding-right: 8px !important;
        }  
    }
    .info .container{
        padding-left: 15px !important;
    } 
    .cuerpo{
        padding-left: 15px !important; 
        .resumen{
            padding-top: 0 !important;
            margin-left: 0 !important;
            h2{
                font-size: 1.5em !important;
                margin-top: 0 !important;
            }
            .btn{
                margin-top: 250px !important;
            }            
        }
        .info{
            margin-top: 0 !important;
            margin-left: 15px;
            padding-left: 15px !important;
            article{
                margin-top: 0 !important;
                h4{
                    font-size: 1.1em;
                }
            }
        }
    }  
}







