@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css');

@font-face {
    font-family: 'roboto_condensedlight';
    src: url('fonts/robotocondensed-light-webfont.eot');
    src: url('fonts/robotocondensed-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/robotocondensed-light-webfont.woff') format('woff'),
         url('fonts/robotocondensed-light-webfont.ttf') format('truetype'),
         url('fonts/robotocondensed-light-webfont.svg#roboto_condensedlight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'roboto_condensedregular';
    src: url('fonts/robotocondensed-regular-webfont.eot');
    src: url('fonts/robotocondensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/robotocondensed-regular-webfont.woff') format('woff'),
         url('fonts/robotocondensed-regular-webfont.ttf') format('truetype'),
         url('fonts/robotocondensed-regular-webfont.svg#roboto_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto_condensedbold';
    src: url('fonts/robotocondensed-bold-webfont.eot');
    src: url('fonts/robotocondensed-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/robotocondensed-bold-webfont.woff') format('woff'),
         url('fonts/robotocondensed-bold-webfont.ttf') format('truetype'),
         url('fonts/robotocondensed-bold-webfont.svg#roboto_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
$typo1      : 'roboto_condensedlight', Helvetica, Arial;
$typo2      : 'roboto_condensedregular', Helvetica, Arial;
$typo3      : 'roboto_condensedbold', Helvetica, Arial;

$esmerald   : #45bc9b;
$celeste    : #00B3E1;
$morado     : #475577;

$verde      : #44b64f;
$amarillo   : #ffce55;
$rojo       : #e8563e;

.verde{     color: $verde;font-family: $typo2}
.amarillo{  color: $amarillo;font-family: $typo2}
.rojo{      color: $rojo;font-family: $typo2}

input::-webkit-input-placeholder {
    color: #b3b3b3 !important;
}
input:-moz-placeholder {
    color: #b3b3b3 !important;
}

a{
    color: #999999;
    &:hover{
        text-decoration: none;
    }
}
h2, h3, h4, li{
    font-family: $typo1;
}
.centrar{
    margin: 0 auto;
}
.btn-success{
    background: #45bc9b !important;
    padding: 5px 35px !important;
    font-family: $typo1;
    font-size: 1.3em;
    max-width: 500px;
    &:hover{
        background: #3a9f83 !important;
    }
}
.w100{
    width: 100%;
}
.h100{
    height: calc(100% - 270px) !important;
}
.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th{
    background: none !important;
}
.bg{
    background: red;
}






@media only screen and (max-width : 1200px) {
    .col-md-6:first-child{
        padding-top: 60px !important;
    }

    .container{
        .cuerpo{
            .info{
                margin-bottom: 50px;
            }
        }
    }
}

@media only screen and (max-width : 992px) {
    // body{
    //     background: yellow;
    // }
    // .container{
    //     padding-left: 0;
    // }
    .col-md-6:first-child{
        padding: 0 0 30px 0 !important;
        text-align: center !important;
    }
    .col-md-6{
        text-align: center;
    }
    .nav > li > a{
        padding: 9px 15px;
    }
    
    .navbar-nav.navbar-right:last-child{
        margin-right: 0 !important;
    }

    .container{
        .navbar-header{
            padding-left: 0 !important;
            img{
                width: 95px ;
            }
        }
        .titulo{
            padding-right: 0 !important;
            margin-right: 0 !important;
            padding-left: 10px !important;
            h2{
                margin-top: 10px;
            }
        }
        .resumen{
            padding-left: 0 !important; 
            margin-left: 15px;
            padding-top: 20px !important;
        }
        .cuerpo{
            // padding-left: 0 !important;
            .info{
                margin: 0 0 50px 0!important;
                // .container{
                //     padding-left: 0 !important;
                // }
            }
        }
    }
    .modal-dialog{
        width: 400px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25%;
    }
}

@media only screen and (max-width : 767px) {
    // body{
    //     background: peru;
    // }
    .container > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-header, .container-fluid > .navbar-collapse{
        margin-left: 0 !important;
    }
    .navbar-header{
        padding-bottom: 15px;
        padding-left: 15px !important;

    }
    .navbar-toggle{
        margin-top: 15px !important;
    }
    .navbar-toggle:hover{
        background: $celeste !important;
        &:hover .icon-bar{
            background: white;
        }
    }
    .navbar-collapse{
        background: #00b3e1;
        border: 0;     
        position: absolute;
        width: 100%;
        li{
            border-bottom: 1px solid #00aad6;
            &:last-child{
                border: 0;
            }
            &:hover{
                background: #00aad6;
            }
            a{
                color: white !important;
            }
        }

    }

    .cuerpo{
        .resumen{
            padding-top: 0 !important;
            margin-left: 0 !important;
            h2{
                font-size: 1.5em;
            }
            .btn{
                margin-top: 40px;
            }
        }
    }


}


@media only screen and (max-width : 480px) {
    .container_promo{
        box-shadow: none;
        width: 100%;
        background-position-x: 0;
    }
    .navbar-header{
        img{
            width: 75px !important;
        }
        .titulo {
            float: left;
            h2{
                font-size: 1.8em;
                margin-top: 12px;
                margin-bottom: 5px;
            }
        }    
    }
    
    .cuerpo{
        .container{
            padding-left: 0;
            .resumen {
                padding-top: 0 !important;
                .btn{
                    margin-top: 300px !important;
                    width: 100%;
                }
            }
        }
    }
    .info{
        margin-left: 15px;
        padding-left: 15px;
        article{
            h4{
            font-size: 1.2em !important;
            }    
        }
    }
    .beneficios{
        height: 450px !important;
        ul > li{
            font-size: 1.2em !important;
        }
    }
    .footer{
        margin-top: 435px !important;
        ul{
            padding-left: 0;
        }
        .scroll_top{
            padding: 10px 10px 0px 10px !important;
        }

    }
    .modal-dialog{
        width: 100%;
        margin: 0 auto;

    }
}

@media only screen and (max-width : 320px) {
    .container_promo{
        box-shadow: none;
        img{
            left: 0;
            top: 70px;
        }
    }
    .container .navbar-header img{
        width: 55 !important;
    }
    .navbar-header{
        img{
            width: 55px !important;
        }
        .titulo {
            float: left;
            width: 51% !important;
            padding-left: 7px !important;
            h2{
                font-size: 1.3em;
                margin-top: 4px;
                margin-bottom: 3px;
            }
            p{
                line-height: 14px;
            }
        }  
        .col-xs-7{
            padding-left: 8px !important;
            padding-right: 8px !important;
        }  
    }
    .info .container{
        padding-left: 15px !important;
    } 
    .cuerpo{
        padding-left: 15px !important; 
        .resumen{
            padding-top: 0 !important;
            margin-left: 0 !important;
            h2{
                font-size: 1.5em !important;
                margin-top: 0 !important;
            }
            .btn{
                margin-top: 250px !important;
            }            
        }
        .info{
            margin-top: 0 !important;
            margin-left: 15px;
            padding-left: 15px !important;
            article{
                margin-top: 0 !important;
                h4{
                    font-size: 1.1em;
                }
            }
        }
    }  
}









