/* latin-ext */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 200;
  src: local("Titillium WebThin"), local("TitilliumWeb-Thin"), url(http://fonts.gstatic.com/s/titilliumweb/v4/anMUvcNT0H1YN4FII8wprzS7C564OTp_INgXTr8EAGg.woff2) format("woff2"); }
/* latin */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 200;
  src: local("Titillium WebThin"), local("TitilliumWeb-Thin"), url(http://fonts.gstatic.com/s/titilliumweb/v4/anMUvcNT0H1YN4FII8wprwncwICprNeqbmuPE2HfhOU.woff2) format("woff2"); }
/* latin-ext */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local("Titillium WebLight"), local("TitilliumWeb-Light"), url(http://fonts.gstatic.com/s/titilliumweb/v4/anMUvcNT0H1YN4FII8wpr30ibtJ3ueB9Z81J478WEJQ.woff2) format("woff2"); }
/* latin */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local("Titillium WebLight"), local("TitilliumWeb-Light"), url(http://fonts.gstatic.com/s/titilliumweb/v4/anMUvcNT0H1YN4FII8wpr6YfJ4wTnNoNUCmOpdh16Tg.woff2) format("woff2"); }
/* latin-ext */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: local("Titillium Web"), local("TitilliumWeb-Regular"), url(http://fonts.gstatic.com/s/titilliumweb/v4/7XUFZ5tgS-tD6QamInJTcSGR3J8a2Jm30YJvJ3tIMOY.woff2) format("woff2"); }
/* latin */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: local("Titillium Web"), local("TitilliumWeb-Regular"), url(http://fonts.gstatic.com/s/titilliumweb/v4/7XUFZ5tgS-tD6QamInJTceHuglUR2dhBxWD-q_ehMME.woff2) format("woff2"); }
/* latin-ext */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 600;
  src: local("Titillium WebSemiBold"), local("TitilliumWeb-SemiBold"), url(http://fonts.gstatic.com/s/titilliumweb/v4/anMUvcNT0H1YN4FII8wpr1Tcxd1fGlbIJMCb5Y260Wk.woff2) format("woff2"); }
/* latin */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 600;
  src: local("Titillium WebSemiBold"), local("TitilliumWeb-SemiBold"), url(http://fonts.gstatic.com/s/titilliumweb/v4/anMUvcNT0H1YN4FII8wpr6d1JQt-lS5nD-1TJX2NNl0.woff2) format("woff2"); }
/* latin-ext */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  src: local("Titillium WebBold"), local("TitilliumWeb-Bold"), url(http://fonts.gstatic.com/s/titilliumweb/v4/anMUvcNT0H1YN4FII8wpr6nZAMwsGZpiGJKtVINElMQ.woff2) format("woff2"); }
/* latin */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  src: local("Titillium WebBold"), local("TitilliumWeb-Bold"), url(http://fonts.gstatic.com/s/titilliumweb/v4/anMUvcNT0H1YN4FII8wpr8hG3LOB74UqS1hPmWaAxzQ.woff2) format("woff2"); }
/* latin-ext */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 900;
  src: local("Titillium WebBlack"), local("TitilliumWeb-Black"), url(http://fonts.gstatic.com/s/titilliumweb/v4/anMUvcNT0H1YN4FII8wpry6ppOJQXOpn8IlQzTbo2Ns.woff2) format("woff2"); }
/* latin */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 900;
  src: local("Titillium WebBlack"), local("TitilliumWeb-Black"), url(http://fonts.gstatic.com/s/titilliumweb/v4/anMUvcNT0H1YN4FII8wpr38V1Ceyva9e1TrsMaWAC_w.woff2) format("woff2"); }
header {
  height: 576px; }
  header.thedrop {
    background: #1c9146 url("../img/img_bg_thedrop.png") center 0 no-repeat !important;
    height: 576px; }
    header.thedrop .title {
      color: white !important; }
    header.thedrop img {
      stroke: red; }
  header.tussta {
    background: #253038 url("../img/img_bg_tussta.png") center 0 no-repeat !important; }
    header.tussta .title {
      color: white; }
  header.simplecrew {
    background: #499edd url("../img/img_bg_simplecrew.png") center 0 no-repeat !important; }
    header.simplecrew .title {
      color: white !important; }
  header.urbania {
    background: #006c8f url("../img/img_bg_urbania.png") center 0 no-repeat !important; }
    header.urbania .title {
      color: white !important; }
  header.toctoc {
    background: #0e70a9 url("../img/img_bg_toctoc.png") center 0 no-repeat !important; }
    header.toctoc .title {
      color: white !important; }
  header.automovilclub {
    background: #0c0c0c url("../img/img_bg_automovilclub.png") center 0 no-repeat !important; }
    header.automovilclub .title {
      color: white !important; }

section.cover {
  -webkit-transition: -webkit-transform .7s;
          transition: transform .7s; }
  section.cover img {
    display: inline !important;
    -webkit-transition: -webkit-transform .7s;
            transition: transform .7s;
    -webkit-transform: translate(0px, -80px);
        -ms-transform: translate(0px, -80px);
            transform: translate(0px, -80px); }
  section.cover.animation {
    -webkit-transition: -webkit-transform .7s;
            transition: transform .7s;
    -webkit-transform: translate(0px, -40px);
        -ms-transform: translate(0px, -40px);
            transform: translate(0px, -40px); }
  section.cover.bg_toctoc {
    background: url("../img/img_mapatoctoc.jpg") center 0 no-repeat !important; }
section.message_thedrop {
  background: #1C9146; }
  section.message_thedrop h2 {
    text-align: right;
    margin-top: 0;
    font-style: italic; }
    section.message_thedrop h2 span {
      color: black;
      display: block;
      font-weight: 900;
      font-style: normal; }
  section.message_thedrop p {
    font-size: 1.1em;
    font-weight: 200; }
section.message_tussta {
  background: #253038; }
  section.message_tussta h2 {
    text-align: right;
    margin-top: 0;
    font-style: italic; }
    section.message_tussta h2 span {
      color: #9f5faa;
      display: block;
      font-weight: 900;
      font-style: normal; }
  section.message_tussta p {
    font-size: 1.1em;
    font-weight: 200; }
section.message_urbania {
  background: #253038; }
  section.message_urbania h2 {
    text-align: right;
    margin-top: 0;
    font-style: italic; }
    section.message_urbania h2 span {
      color: #9F5FAA;
      display: block;
      font-weight: 900;
      font-style: normal; }
  section.message_urbania p {
    font-size: 1.1em;
    font-weight: 200; }
section .slide_carousel {
  margin-bottom: 70px; }
section .slide_carousel .carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition: opacity .5s;
  transition: opacity .5s; }
section .slide_carousel .carousel-fade .carousel-inner .active {
  opacity: 1; }
  section .slide_carousel .carousel-fade .carousel-inner .active.active.left, section .slide_carousel .carousel-fade .carousel-inner .active.active.right {
    left: 0;
    opacity: 0;
    z-index: 1; }
  section .slide_carousel .carousel-fade .carousel-inner .active.next.left, section .slide_carousel .carousel-fade .carousel-inner .active.prev.right {
    opacity: 1; }
section .slide_carousel .carousel-fade .carousel-inner .carousel-control {
  z-index: 2; }
section.message_simplecrew {
  background: #499EDD !important; }
  section.message_simplecrew h2 {
    text-align: right;
    margin-top: 0;
    font-style: italic; }
    section.message_simplecrew h2 span {
      color: black;
      display: block;
      font-weight: 900;
      font-style: normal; }
  section.message_simplecrew p {
    font-size: 1.1em;
    font-weight: 200; }
section.message_urbania {
  background: #006C8F !important; }
  section.message_urbania h2 {
    text-align: right;
    margin-top: 0;
    font-style: italic; }
    section.message_urbania h2 span {
      color: black;
      display: block;
      font-weight: 900;
      font-style: normal; }
  section.message_urbania p {
    font-size: 1.1em;
    font-weight: 200; }
section.message_automovilclub {
  background: #FDD325 !important; }
  section.message_automovilclub h2 {
    text-align: right;
    margin-top: 0;
    font-style: italic;
    color: black; }
    section.message_automovilclub h2 span {
      display: block;
      font-weight: 900;
      font-style: normal; }
  section.message_automovilclub p {
    color: black;
    font-size: 1.1em;
    font-weight: 200; }

footer {
  background: #0c0c0c; }
