@media only screen and (min-width: 1201px) {
  .navbar-nav {
    float: right; } }
@media only screen and (max-width: 1200px) {
  .navbar-nav {
    float: right; } }
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .navbar-nav {
    float: right; } }
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  header {
    background-image: url("../img/fondonuevo_768.jpg");
    background-size: cover; }

  .navbar-nav {
    float: none !important; }

  .btn-brochure {
    width: 100%;
    margin-top: 30px; } }
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .navbar-brand {
    padding-left: 0; }

  .section h1 {
    font-size: 3em !important; }

  .contact_form .btn-black:hover {
    width: 250px !important; }

  section.cover {
    height: 380px !important; } }
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .section h1 {
    font-size: 2.6em !important; }

  .contact_form {
    padding: 25px 0px !important; }
    .contact_form .btn-black {
      width: 140px !important; }
      .contact_form .btn-black:hover {
        width: 220px !important; }

  /* interna */
  section.cover {
    height: 380px !important; } }
