@import url("https://puntoticket-a.akamaihd.net/assets/font-awesome/4.4.0/css/font-awesome.min.css");
/* STYLE BASE */
html, body { height: auto; }

body { background-color: #D9D9D9 !important; }

input:hover, input:focus, input:visited, a:hover, a:focus, a:visited { text-decoration: none !important; outline: 0 !important; color: white; }

.p_lr { padding-left: 0; padding-right: 0; }

.text_right { text-align: right; }

.clear { clear: both; }

.center { text-align: center; }

.img-responsive { display: inline; }

.p15 { padding: 15px; }

.pt_button, .pt_button_secundario { background: #f2662f; border-bottom: 3px solid #b03a0b; color: white !important; padding: 10px 20px; border-radius: 4px; transition: all .3s; }
.pt_button:hover, .pt_button_secundario:hover { background: #e0490e; }

.col-xs-1 { float: left; display: inline-block; width: 12%; }

.col-xs-2 { float: left; display: inline-block; width: 16%; }

.col-xs-3 { float: left; display: inline-block; width: 24%; }

.col-xs-4 { float: left; display: inline-block; width: 33%; }

.col-xs-5 { float: left; display: inline-block; width: 41%; }

.col-xs-6 { float: left; display: inline-block; width: 50%; }

.col-xs-7 { float: left; display: inline-block; width: 58%; }

.col-xs-9 { float: left; display: inline-block; width: 73%; }

.col-xs-12 { float: left; display: inline-block; width: 100%; }

/* NAV */
.fa_social { background-color: #f2662f; border-radius: 50%; color: white !important; font-size: 1.1em; height: 22px; line-height: 24px; text-align: center; width: 22px; transition: all .2s; }
.fa_social:hover { color: white; background-color: #f2662f; box-shadow: inset 1px 3px 8px rgba(0, 0, 0, 0.15); }

.nav { background-color: white; margin-top: 0px; padding: 15px 0 5px 0; height: 38px; width: 100%; box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1); }
.nav .logo_pt { margin: -7px 0 5px 15px; }
.nav .col-xs-6 { display: inline; display: inline-block; float: left; width: 50%; }

#nav { background-color: #f2662f; border-bottom: 3px solid #b03a0b; height: 25px; width: 800px; text-align: center !important; }
#nav li { float: none; display: inline-block !important; }
#nav li a { background-image: none; color: white; font-size: 1.1em; margin: 0 15px; padding-top: 6px; position: relative; text-indent: initial; text-transform: uppercase; transition: all .2s; left: initial !important; }
#nav li a:hover { text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); }

/* HOME & CONTAINER */
#container { background-image: none; background-color: #2a2b2a !important; }

.container { width: 800px; padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto; }

#header { height: 23px; }

#leftnav { padding: 10px; width: 134px; }
#leftnav #loginstatus { background-image: none; min-height: 80px; width: 100%; }
#leftnav #loginstatus .menu { background-image: none; margin: 1px 0; padding-left: 0; text-align: center; width: 100%; }
#leftnav #loginstatus .menu a { font-weight: normal; background-color: #f2662f; border-radius: 3px; border-bottom: 3px solid #b03a0b; display: block; padding: 8px 0px; transition: all .2s; }
#leftnav #loginstatus .menu a:hover { color: white; background-color: #ea4c0f; }
#leftnav #loginstatus .hr { background-image: none; }
#leftnav #leftimages { text-align: center; width: 100%; }
#leftnav #leftimages p { color: white; text-transform: uppercase; }
#leftnav #leftimages p span { color: #aaa; font-size: .9em; }
#leftnav #leftimages a.btn { font-weight: normal; color: white; background-color: #f2662f; border-radius: 3px; border-bottom: 3px solid #b03a0b; display: block; margin: 6px 0; padding: 8px 0px; transition: all .2s; }
#leftnav #leftimages a.btn:hover { color: white; background-color: #ea4c0f; }
#leftnav hr { border: 0; border-bottom: 1px solid #555; height: 5px; margin: 15px 0; }

#content { background-color: white; margin-left: 154px !important; }
#content #mainpage { background-image: none; display: inline-block; width: 100%; }
#content #mainpage #rightnav { width: 144px; }

#frmBuscaEvento #filtroEvento { background: white url("../img/icon_search.png") 5px no-repeat; border-radius: 4px; color: #999; font-size: 1.3em; margin: 8px 0 5px 5px; padding: 6px 6px 6px 30px; transition: all .4s; width: 280px; }
#frmBuscaEvento #filtroEvento:focus { border: 1px solid #f5895f; }

#eventos { padding: 8px 2px !important; width: 490px !important; }
#eventos .col { float: left; margin: 2px 3px; width: 100% !important; }
#eventos .col:nth-child(even) { background-color: #F3F3F3; }
#eventos .col .info { font-size: .9em; padding-left: 6px; padding-right: 0; vertical-align: top; }
#eventos .col .info h2 { margin-bottom: 4px; margin-top: 2px; font-size: 1.3em; }
#eventos .col .info h2 a { color: #f2662f; font-size: .9em; }

/* FOOTER */
#footer { background-color: #222; padding: 30px 0; z-index: 123; }
#footer p { color: #999; }
#footer a { color: orange; }

/* INTERNAL */
#evento_content { min-height: 700px; }
#evento_content .descripcion .label { background-color: #f2662f; color: white; border-radius: 3px; font-size: .7em; padding: 2px 5px; }
#evento_content .col { padding: 0 5px; }
#evento_content .table_title { background-color: #eee; color: #666; margin: 0; padding: 10px; }
#evento_content .table_price { border: 1px solid #eee; margin: 0; color: #888; width: 100%; }
#evento_content .table_price th, #evento_content .table_price td { padding: 10px 3px; font-size: .9em; text-align: center; }
#evento_content .table_price th:nth-child(2), #evento_content .table_price td:nth-child(2) { text-align: left; }
#evento_content .table_price td { border-top: 1px solid #eee; }
#evento_content .table_price td .color1 { background-color: #f2662f; display: inline-block; height: 20px; width: 5px; }
#evento_content .table_price td .color2 { background-color: #3badae; display: inline-block; height: 20px; width: 5px; }
#evento_content .buy { text-align: center; float: left; margin-top: 20px; }
#evento_content .buy h2 { margin-bottom: 15px; text-align: left; width: 100%; }
#evento_content .buy .btn_buy { background-color: #eee; border: 1px solid #ddd; border-radius: 4px; color: #333; display: inline-block; font-size: .87em; margin-bottom: 5px; padding: 7px; text-align: center; transition: all .1s; width: 90%; }
#evento_content .buy .btn_buy span { font-size: .9em; }
#evento_content .buy .btn_buy:hover { background-color: #f2662f; color: white; }

/* CART */
#container2 { min-height: auto !important; background-color: white; padding-bottom: 40px; }
#container2 #wrapper { min-height: 100%; height: 85vh; display: inline-block; width: 100%; }
#container2 #wrapper #evento_categorianombre { height: auto; padding: 10px; }

#nav_compra { width: 475px; }
#nav_compra li span { background-image: url("../img/img_breadcrumb.png"); }
#nav_compra li#nav_datos span { left: 161px; }
#nav_compra li#nav_confirmacion span { left: 317px; }

#divSeguir { margin: 30px; }

select { height: 34px; padding: 6px 12px; line-height: 1.42857143; color: #555; background-color: #fff; background-image: none; border: 1px solid #ccc; border-radius: 4px; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s; -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; }

.table_shipments { padding: 0 30px; }
.table_shipments #cphMain_TiposEnvio { width: 715px; }
.table_shipments #cphMain_TiposEnvio th, .table_shipments #cphMain_TiposEnvio td { padding: 10px; }

#cphMain_rbMedioPago { width: 600px; }
#cphMain_rbMedioPago label:hover { cursor: pointer; }

.table_summary { margin: 20px auto 0 auto; padding: 30px; }
.table_summary .pt_table { width: 715px !important; }
.table_summary .pt_table th, .table_summary .pt_table td { padding: 10px; }

.advert { margin: 0 auto 20px auto; padding: 0 30px; }
.advert .MedioPagoUC { width: 715px; }
.advert .MedioPagoUC td { padding: 10px; }

/*# sourceMappingURL=main.css.map */
