@import url(http://fonts.googleapis.com/css?family=Oswald:700);

/** Nike **/
@font-face {
	font-family: 'nike';
	src: url('../fonts/niketitles.eot');
	src: local('☺'),
	url('../fonts/niketitles.woff') format('woff'),
	url('../fonts/niketitles.ttf') format('truetype'),
	url('../fonts/niketitles.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}