@charset "UTF-8";
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .menu_data .data .ico {
    width: 30px; }

  .form-control {
    border: 1px solid white !important; }

  .form_radio {
    border: 1px solid white !important; }

  .container {
    padding: 0; }

  .timeline h5 {
    padding: 0 10px; }

  .action {
    padding: 0 !important; }

  .next {
    padding: 0;
    margin-bottom: 0; }
    .next .btn {
      display: block;
      width: 100%;
      margin: 0;
      font-size: 1.6em; } }
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
h1 {
  color: white;
  font-size: 1.9em;
  margin-bottom: 0px;
  letter-spacing: 4px; }

h3 {
  font-size: 1.7em;
  letter-spacing: .1em; }

h3.white {
  color: white; }

h4 {
  font-size: 1.1em;
  margin-bottom: 5px;
  margin-top: 15px; }

h4.orange {
  color: #ff7600; }

h5 {
  font-size: 1em;
  height: 20px;
  letter-spacing: .04em; }

input[type="text"],
input[type="email"],
input[type="number"] {
  outline: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus {
  outline: none;
  border: 1px solid #ff7600;
  -webkit-box-shadow: none;
          box-shadow: none; }

select {
  -webkit-border-radius: 4px !important;
  border-radius: 4px !important;
  outline: none;
  display: inline-block; }

input[type="radio"],
input[type="checkbox"] {
  margin-top: 1px !important; }

.radio {
  padding: 0; }
  .radio input {
    float: right !important;
    margin: 0 !important; }

.btn {
  border: 0px solid;
  -webkit-border-radius: 0;
          border-radius: 0;
  font-family: "nike", Helvetica Neue, Helvetica, Arial; }

.btn-warning {
  background: #ff7600;
  color: black; }

.btn-next {
  background: #ff7600;
  padding-left: 25px;
  padding-right: 25px; }
  .btn-next:hover {
    background: black;
    color: #ff7600; }

.btn-edit {
  background: black;
  color: white;
  margin: 0 5px;
  padding-left: 25px;
  padding-right: 25px; }
  .btn-edit:hover {
    color: #ff7600; }

.btn-tyc {
  background: transparent;
  border: 1px solid #ff7600;
  -webkit-border-radius: 0;
          border-radius: 0;
  color: black;
  padding: 0 10px 0 25px;
  text-transform: none;
  height: 30px; }
  .btn-tyc .img_btn {
    background: #ff7600;
    height: 30px;
    left: 0;
    margin-top: -2px;
    margin-right: 10px;
    padding-top: 7px;
    position: absolute;
    vertical-align: middle;
    width: 30px; }

.btn-next-black {
  background: transparent;
  border: 1px solid #ff7600;
  -webkit-border-radius: 0;
          border-radius: 0;
  color: white;
  margin-left: 15px;
  padding: 0 15px;
  text-transform: none;
  height: 30px; }
  .btn-next-black .img_btn {
    color: black;
    background: #ff7600;
    height: 30px;
    left: 0;
    margin-top: -1px;
    margin-right: 10px;
    padding-top: 7px;
    position: absolute;
    vertical-align: middle;
    width: 30px; }

.btn-estado-black {
  background: transparent;
  border: 1px solid white;
  color: white;
  font-size: 1.2em;
  letter-spacing: .15em;
  padding-right: 30px;
  padding-left: 30px; }
  .btn-estado-black:hover {
    background: white;
    color: black; }

.btn-footer {
  background: transparent;
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 0;
          border-radius: 0;
  bottom: 0;
  color: black;
  padding: 0 10px 0 0;
  position: absolute;
  text-transform: none; }
  .btn-footer .img_btn {
    background: black;
    display: inline-block;
    height: 30px;
    margin-right: 10px;
    padding-top: 2%;
    vertical-align: middle;
    width: 30px; }

.btn-down {
  background: transparent;
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 0;
          border-radius: 0;
  color: black;
  margin: 5px;
  padding: 0 10px 0 0;
  text-transform: none; }
  .btn-down .img_btn {
    background: #ff7600;
    display: inline-block;
    height: 30px;
    margin-right: 10px;
    padding-top: 2%;
    vertical-align: middle;
    width: 30px; }

.w_100 {
  width: 100%; }

.form-group {
  margin-bottom: 5px; }

.form-control {
  background-color: black;
  border: 2px solid white;
  -webkit-border-radius: 0 !important;
          border-radius: 0 !important;
  color: #F3F3F3;
  display: inline-block;
  padding: 4px 8px !important; }

.form-control:focus {
  background-color: white;
  border: 2px solid black !important;
  color: black !important;
  font-weight: 400;
  outline: 0; }

.form-control::-moz-placeholder {
  color: #F3F3F3;
  font-size: .9em; }

.form-control:-ms-input-placeholder {
  color: #F3F3F3;
  font-size: .9em; }

.form-control::-webkit-input-placeholder {
  color: #F3F3F3;
  font-size: .9em; }

.form-control:focus::-moz-placeholder {
  color: #999999;
  font-size: .9em; }

.form-control:focus:-ms-input-placeholder {
  color: #999999;
  font-size: .9em; }

.form-control:focus::-webkit-input-placeholder {
  color: #999999;
  font-size: .9em; }

label {
  cursor: pointer; }

a:active,
button:active,
button:focus {
  outline: 0 !important; }

strong {
  font-family: "nike", Helvetica Neue, Helvetica, Arial;
  font-size: 1em; }

.text1 {
  font-family: Helvetica Neue, Helvetica, Arial;
  font-size: .83em;
  font-weight: 600; }

.lima {
  color: #ff7600;
  font-family: "nike", Helvetica Neue, Helvetica, Arial; }

.center {
  text-align: center; }

.clear {
  clear: both; }

.padd_cero {
  padding: 0; }

.padd_dies {
  padding: 0 5px; }

.modal-backdrop {
  background: rgba(0, 0, 0, 0.9) !important; }

.modal .mt_10 {
  margin-top: 12%; }
.modal .modal-content {
  background: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 0px solid; }
  .modal .modal-content .modal-header {
    border-bottom: 1px solid #333333; }
  .modal .modal-content .modal-footer {
    border: 0px solid;
    text-align: left; }
  .modal .modal-content .modal-body {
    color: white !important;
    font-size: .8em;
    text-align: justify; }
    .modal .modal-content .modal-body a {
      color: #ff7600; }
  .modal .modal-content .remove {
    font-size: 7em;
    color: #ff7600; }
.modal .close {
  color: #ff7600;
  font-weight: 100;
  font-size: 2em;
  opacity: 1;
  text-shadow: none; }
  .modal .close:hover {
    color: white; }
.modal#error
.modal-body {
  text-align: center; }
.modal .modal-footer {
  text-align: center !important; }
  .modal .modal-footer .btn-next-black {
    padding-left: 0;
    margin-left: 0; }
    .modal .modal-footer .btn-next-black .img_btn {
      margin-top: -2px;
      position: relative !important; }

body {
  color: #252525;
  font-size: 14px;
  background-repeat: repeat !important;
  background-position: 0 0 !important; }

.santiago21k {
  background: url("../img/img_santiago21k_vertical.png") center center no-repeat;
  height: 299px;
  left: -10px;
  position: absolute;
  top: 60%;
  width: 90px;
  z-index: -2; }

.bg_header_text {
  margin: 0 auto; }

.bg_header_img {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  max-height: 520px; }

.img_header, img[src$="head-inner.jpg"] {
  width: 100%; }

.title_inscription .timeline {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .title_inscription .timeline .head_steps {
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  .title_inscription .timeline .line {
    background: black;
    height: 4px;
    position: relative; }
    .title_inscription .timeline .line .point {
      -webkit-border-radius: 50%;
              border-radius: 50%;
      background: black;
      height: 8px;
      right: 0px;
      position: absolute;
      top: -2px;
      width: 8px; }
  .title_inscription .timeline .unactive h5 {
    color: #ff7600 !important; }
  .title_inscription .timeline .unactive .line,
  .title_inscription .timeline .unactive .line .point {
    background: #ff7600 !important; }

.steps {
  display: inline-block;
  margin: 15px 0;
  min-height: 400px; }
  .steps .form-group {
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 0 !important;
    padding: 0 !important;
    width: 100%; }
    .steps .form-group .inp_text,
    .steps .form-group .selector {
      height: 27px !important;
      font-family: "nike", Helvetica Neue, Helvetica, Arial;
      -webkit-border-radius: 3px !important;
              border-radius: 3px !important; }
    .steps .form-group .padd_select {
      padding: 0 1px !important; }
    .steps .form-group .rad {
      margin-right: 30px !important; }
    .steps .form-group .unrequired {
      margin-left: 5px; }
  .steps .form_group_radio {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    width: 100%; }
    .steps .form_group_radio .time .form-control {
      width: 33.3%;
      float: left; }
  .steps .form_radio {
    background-color: black;
    border: 2px solid white;
    color: white;
    padding: 0; }
    .steps .form_radio:hover {
      cursor: pointer; }
    .steps .form_radio label {
      color: white;
      display: block;
      padding: 8px; }
    .steps .form_radio .radio {
      font-family: Helvetica Neue, Helvetica, Arial;
      font-size: .83em;
      margin-bottom: 0;
      margin-top: 0; }
      .steps .form_radio .radio input {
        margin-top: 3px !important; }
    .steps .form_radio.focus {
      background-color: white !important;
      border: 2px solid black !important; }
      .steps .form_radio.focus label {
        color: black !important; }
  .steps .action {
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 0 10px; }
  .steps .next {
    margin: 15px 0;
    padding-right: 0;
    text-align: right; }
    .steps .next .alert_edad {
      background: black;
      color: #ff7600;
      min-height: 32px;
      font-size: .8em;
      font-weight: 600;
      padding-top: 7px;
      padding-bottom: 7px; }
  .steps.step4 .data p {
    background-color: white;
    font-size: .9em;
    font-weight: 600;
    padding: 10px;
    position: relative; }
    .steps.step4 .data p .edit {
      position: absolute;
      background-color: #ff7600;
      color: black;
      font-size: 1.4em;
      height: 36px;
      width: 36px;
      padding-top: 10px;
      padding-left: 10px;
      right: 0; }

.tshirt .radio {
  margin-right: 15px; }
.tshirt .table {
  font-family: "nike", Helvetica Neue, Helvetica, Arial; }
  .tshirt .table thead tr th,
  .tshirt .table tbody tr td {
    background: white !important;
    color: black !important;
    border-left: 0px solid !important; }
  .tshirt .table th, .tshirt .table td {
    border-top: 0px solid;
    text-align: center; }

.pay .resumen {
  display: inline-block; }
  .pay .resumen .info3, .pay .resumen .info4 {
    background: white;
    padding-top: 15px;
    padding-bottom: 15px;
    min-height: 215px; }

.metodo.mt_15 {
  margin-top: 15px; }

.confirmation .messenge {
  background: black;
  padding: 15px 25px; }
  .confirmation .messenge .color_orange {
    color: #ff7600;
    font-size: 1.6em; }
  .confirmation .messenge p {
    color: white;
    letter-spacing: 0px;
    font-size: .8em; }

.banner_appstore {
  display: inline-block;
  margin: 20px 0; }
  .banner_appstore .banner_btns {
    height: 120px; }
    .banner_appstore .banner_btns .fb {
      left: 5%; }
    .banner_appstore .banner_btns .tw {
      right: 5%; }

.download {
  text-align: right; }

.unbackground {
  background: none !important;
  padding-bottom: 0 !important; }

.server_mantenince {
  background: black url("../img/img_bg_black.jpg") repeat center center;
  min-height: 500px;
  padding: 40px 0; }

.first_closing h3 a.lima {
  color: #ff7600;
  text-decoration: underline; }
  .first_closing h3 a.lima:hover {
    color: #ff7600; }

.mystatus .box {
  background: white;
  color: black;
  font-family: "nike", Helvetica Neue, Helvetica, Arial;
  padding: 15px;
  font-size: 1.2em;
  min-height: 230px;
  margin-bottom: 5px; }
  .mystatus .box .action {
    margin-top: 10px; }
    .mystatus .box .action button {
      color: black; }
.mystatus .btns_status {
  padding-left: 6px; }
.mystatus .box_status {
  border: 2px solid white;
  font-family: "nike", Helvetica Neue, Helvetica, Arial;
  margin-bottom: 5px;
  max-height: 57px;
  padding: 10px 15px;
  position: relative;
  vertical-align: middle; }
  .mystatus .box_status span {
    color: white;
    font-size: 1.5em; }
  .mystatus .box_status p {
    font-size: .9em;
    margin: 0; }
  .mystatus .box_status .icon {
    position: absolute;
    right: 7px;
    top: 0;
    border-left: 2px solid white;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 5px; }
  .mystatus .box_status.kit {
    padding-top: 5px !important; }
    .mystatus .box_status.kit p {
      margin-top: -5px; }
    .mystatus .box_status.kit .icon {
      padding-top: 10px !important;
      padding-top: 10px !important; }
.mystatus .reenviar {
  background: #ff7600;
  border: 1px solid #ff7600;
  color: black;
  font-family: "nike", Helvetica Neue, Helvetica, Arial;
  font-size: 1.35em;
  padding: 10px 15px; }
.mystatus .action {
  margin-top: 35px; }
  .mystatus .action button {
    color: white; }
    .mystatus .action button span {
      color: black; }

/* < 480 */
.swoosh {
  background-color: #ff7600;
  height: 70px; }
  .swoosh img {
    padding-top: 24px; }

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px; }

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer; }

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  width: 30px;
  height: 30px;
  border: 1px solid #aaa;
  background: #f8f8f8;
  -webkit-border-radius: 1px;
          border-radius: 1px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3); }

/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 3px;
  left: 0px;
  font-size: 14px;
  color: #ff7600;
  -webkit-transition: all .2s;
          transition: all .2s;
  background-color: black;
  padding: 4px 8px;
  text-align: center;
  width: 30px; }

/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0); }

[type="checkbox"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1); }

/*
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
*/
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 1px dotted blue; }

/* hover style just for information */
label:hover:before {
  border: 1px solid #4778d9 !important; }
