/* Medium Devices, Desktops */
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .menu_data .data .ico {
    width: 30px; }

  .form-control {
    border: 1px solid white !important; }

  .form_radio {
    border: 1px solid white !important; }

  .container {
    padding: 0; }

  .timeline h5 {
    padding: 0 10px; }

  .action {
    padding: 0 !important; }

  .next {
    padding: 0;
    margin-bottom: 0; }
    .next .btn {
      display: block;
      width: 100%;
      margin: 0;
      font-size: 1.6em; } }
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
