@import url('../bower_components/bootstrap/dist/css/bootstrap.min.css');
@import url('../bower_components/font-awesome/css/font-awesome.min.css');
@import url('../fonts/stylesheet.css');

body{
    background: rgba(83,192,226,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(83,192,226,1) 0%, rgba(0,161,212,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(83,192,226,1)), color-stop(100%, rgba(0,161,212,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(83,192,226,1) 0%, rgba(0,161,212,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(83,192,226,1) 0%, rgba(0,161,212,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(83,192,226,1) 0%, rgba(0,161,212,1) 100%);
    background: radial-gradient(ellipse at center, rgba(83,192,226,1) 0%, rgba(0,161,212,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#53c0e2', endColorstr='#00a1d4', GradientType=1 );

    background-attachment: fixed;
    font-family: 'Futura';
    color: white;
    font-size: 14px;
    letter-spacing: .1em;
}
h1, h2, h3, h4{
    font-family: 'Futura';
    text-shadow: 0 2px 2px rgba(0,0,0,0.3);
    text-align: center;
    margin: 0;
}
h1{
  font-size: 2.9em;
}
h2{
  font-size: 2.4em;
}
h3{
  font-size: 1.8em;
}
input, a{
    &:hover,
    &:focus,
    &:visited{
        text-decoration: none !important;
        outline: 0 !important;
    }
}
h4{
    font-size: 1em;
}
.p_lr{
    padding-left: 0;
    padding-right: 0;
}
.tar{
    text-align: right;
}
.clear{
    clear: both;
}
.center{
    text-align: center;
}
.img-responsive{
    display: inline;
}

//////////////////////////////////////////////////////

.nav{
  background-color: white;
  padding: 2px 0;
}
.step1{
  padding-bottom: 20px;
}
.title{
  padding: 18px 0;
}
.section{
  display: inline-block;
  margin-bottom: 5px;
  width: 100%;
  .col-xs-6{
    padding: 5px;
  }
  .article{
    background-color: white;
    border-radius: 4px;

    padding: 20px 30px 10px 30px;
    text-align: center;

    display: block;
    visibility: hidden;
    &.bounce,
    &.pulse,
    &.fadeIn,
    &.slideInLeft,
    &.slideInRight{
      visibility: visible !important;
    }
    &#a1{
      color: #dd7a92;

    }
    &#a2{
      color: #6697c4;

    }
    &#a3{
      color: #40c6a8;
    }
    &#a4{
      color: #9983dd;
    }
    p{
      margin: 10px 0 0 0;
      font-size: 1.3em;
    }
  }
}
.only{
  margin: 15px 0 15px 0;
  display: inline-block;
  width: 100%;
  a{
    color: white;
    font-size: 1.1em;
  }
}

.step2{
  display: none;
  padding-bottom: 20px;
  width: 100%;
  h5{
    font-size: 1.4em;
  }
  .mt{
    margin-top: 30px;

  }
  form{
    .form-control{
      height: 45px;
      font-size: 1.3em;
      text-transform: none !important;
      label{
        color: #11a7d7;
        display: block;
        padding-left: 30px;
        padding-top: 5px;
        padding-bottom: 5px;
        .radio_{
          margin-left: -30px;
        }
      }
    }
    .btn-primary{
      font-size: 1.5em;

      margin: 30px 0;
      text-align: center;
    }
  }
  .box_error{
    label{
      text-transform: uppercase;
      margin: 0 !important;
      display: block !important;
    }
  }
  .a_collap{
    color: white;
    font-size: 1.1em;
    margin-bottom: 5px;
    display: block;
  }
  .well{
    background-color: transparent;
    line-height: 1.2em;
    padding: 15px;
    text-align: justify;
  }
}


.fadeIn{
  display: block !important ;
}
.step1, .fadeOut {
  -webkit-animation-duration: .2s !important;
}
div.box_error {
  display: none
}
.box_error label.error {
  display: inline;
}



@media only screen and (min-width : 1201px) {
  h1{
    font-size: 4em;
  }
  h2{
    font-size: 3.4em;
  }
  h3{
    font-size: 2.55em;
  }
  .title{
    padding: 50px 0;
  }
}
@media only screen and (max-width : 120px) {
}
@media only screen and (max-width : 992px) {
}
@media only screen and (max-width : 768px) {
  h1{
    font-size: 2.9em;
  }
  h2{
    font-size: 2.4em;
  }
  h3{
    font-size: 1.8em;
  }
}
@media only screen and (max-width : 480px) {
}
@media only screen and (max-width : 320px) {
}
