$aquamarine	: #15aa90;
$black1		: #0e0e12;
$black2		: #262633;
$mora 		: #4f507f;

*{
	outline: 0;
	padding: 0;
	margin: 0;
}
html{
	position: relative;
	min-height: 100%;
}
body{
	background: #f3f3f3;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 300; 
	height: 100%;
	padding: 0;
	margin: 0;
	width: 100%;
}
a, 
a:hover,
a:visited,
a:focus,
a:active{
	text-decoration: none;
}
.aqua{
	color: $aquamarine;
}
.btn-base{
	background: transparent;
	color: $aquamarine;
	border: 2px solid transparent;
	border-radius: 15px;
	padding: 5px 25px !important;
	transition: all .3s;
	&:hover, &.active{
		color: $aquamarine;
		background: none !important;
		border: 2px solid $aquamarine;
	}
}
.btn-base-white{
	background: transparent;
	color: $aquamarine;
	border: 2px solid transparent;
	border-radius: 15px;
	padding: 5px 25px !important;
	transition: all .3s;
	&:hover, &.active{
		color: white !important;
		background: none !important;
		border: 2px solid white;
	}
}
.exit:hover{
	color: #e74c3c !important;
	background: none !important;
	border: 2px solid #e74c3c;
}
.btn-success{
	background: $aquamarine;
	color: white;
	border: 0px solid #262633 !important;
	&:hover{
		color: white;
		background: #10957d !important;
		border-radius: 15px;		
		text-shadow: 0 2px 0px rgba(0,0,0,.3);
		box-shadow: inset 0 4px 3px rgba(0,0,0,.2), inset 0 -4px 2px rgba(255,255,255,.1);	
	}
}
.btn-base-mora{
	background: none;
	color: $mora;
	border: 2px solid $mora !important;
	&:hover, &.active{
		color: white !important;
		background: $mora !important;
		border-radius: 15px;
		text-shadow: 0 2px 1px rgba(0,0,0,.3);
	}
}
.btn-group{
	margin: 0 15px;
	label{
		float: left;
		color: $mora;
		margin-top: 8px;
		margin-right: 10px;
		font-weight: 300;
	}
	a{
		color: $mora;
		margin: 0 5px;
		border: 0px solid $aquamarine !important;
		font-weight: 300;
		&:hover, &.active{
			color: white !important;
			background: #1ba088 !important;
			border-radius: 17px !important;
			border: 0px solid #1ba088 !important;
			box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.15);
		}
	}
}
.btn-mora{
	background: $mora;
	color: white;
	border: 0px solid #262633 !important;
	&:hover, &:visited, &:active{
		color: white;
		background: #45466d !important;
		border-radius: 15px;
		text-shadow: 0 2px 0px rgba(0,0,0,.3);
		box-shadow: inset 0 3px 2px rgba(0,0,0,.6);		
	}
}
.btn-info{
	background: #39394C;
	color: white;
	border: 2px solid $mora !important;
	&:hover{
		color: white;
		background: $mora !important;
	}
}
.padd_cero{
	padding-left: 0;
	padding-right: 0;
}
.clear{
	clear: both;
}
.center{
	text-align: center;
}


/* /////////////////////// */


.wrap_login{
	background: url('../img/bg_login.jpg') 0 0 no-repeat;
	background-size: cover;
	height: 100vh;
	overflow-y: hidden;
	.login{
		background: $aquamarine;
		border-radius: 2px;
		margin-top: 200px;
		padding: 20px;
		box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);

		h2{
			margin-bottom: 20px;
			font-weight: 300;
		}
		input{
			margin: 10px 0;
			border-radius: 15px;
		}
		button{
			border-bottom: 3px solid #3b3c66 !important;
			box-shadow: 0 2px 4px rgba(0,0,0,.35);
			font-size: 1.1em;
			margin: 30px 0 15px 0;
			width: 100%;
		}
		a{
			color: $black1;
			font-size: .8em;
		}
	}
}

.header_logo{
	background: $black1;
	padding: 10px 0;

	.nav-head{
		display: inline-block;
		img{
			display: block;
			padding: 15px 0;
		}
	}
}
.header_menu{
	background: #262633;
	width: 100%;
	position: absolute;
	left: 0;
	top: 90px;

	.collapsem, .nav, .menu{
		min-width: 1100px !important;
		background: #262633;
	}
	.menu{
		li{
			padding: 15px 10px;
			.fa{
				margin-right: 5px;
			}
		}
	}
	.menu_secondary{
		background: #262633;
		border-top: 1px solid #3f3f3f;
		padding: 25px 0;
		min-width: 1100px !important;
		.user, .km{
			background: #414154;
			color: white;
			border-radius: 4px;
			padding: 5px 25px !important;
			i{
				margin-right: 10px;
			}
		}
		.user, .km, .btn-success{
			font-size: 1.1em;
		}
		div:first-child{
			padding-left: 10px;
		}
	}
}
.header_menu_enterprise{
	background: $aquamarine;
	width: 100%;
	position: absolute;
	left: 0;
	top: 90px;
	.menu{
		li{
			padding: 15px 2px;
			a{
				color: #a5e5d9;
			}
			.fa{
				margin-right: 5px;
			}
		}
	}
	.right-inner-addon {
	    margin-top: 15px;
	    position: relative;
	}
	.right-inner-addon input {
		border-radius: 15px;
	    padding-right: 30px;    
	}
	.right-inner-addon i {
		color: #aaa;
	    position: absolute;
	    right: 0px;
	    padding: 10px 12px;
	    pointer-events: none;
	}
	.search{
		transition: all .3s;
		&:focus{
			color: #835fb5;
			width: 140% !important;
		}
	}
	.menu_secondary{
		border-top: 1px solid #39bfa2;
		padding: 25px 0;
		.user, .km, .btn-success{
			font-size: 1.1em;
		}
	}
}

.cuerpo{
	height: calc(100% - 170px);
	padding-top: 250px;
	margin: 0 auto;
	.table{
		min-width: 1100px !important;
		th, td{
			border: 0px solid;
			padding: 10px 15px;
		}
		thead{
			background: #e6e6e6;
			color: #aaa;
			a{
				color: #aaa;
			}
			// th{
			// 	&:first-child{
			// 		border-radius: 0 0 0 10px;
			// 	}
			// 	&:last-child{
			// 		border-radius: 0 0 10px 0;
			// 	}
			//}
		}
		tbody{
			// tr:nth-child(2n+2){
			// 	background: #eeeeee;
			// }
			td{
				border-bottom: 1px solid #e6e6e6;
				vertical-align: middle;
				.accion{
					border-radius: 50%;
					margin: 2px;
					padding: 5px 8px;
					text-align: center;
					width: 30px;
				}
			}
		}
	}
}

.edit{
	td{
		padding: 5px 7px !important;
	}
}


// footer {
// 	background: $black1;
// 	bottom: 0;
// 	left: 0;
// 	margin-top:40px;
// 	padding-top:40px;
// 	padding-bottom:40px;
// 	position: absolute;
// 	width: 100%;
// 	a{
// 		color: #666 !important;
// 	}
// }


.footer{
	position: absolute;
bottom: 0;
width: 100%;
height: 60px;
background-color: black;
}