/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.btn-base{
		padding: 5px 20px !important;
	}
	.header_menu .menu li{
		padding: 15px 2px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}