<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container" ng-controller="AppCtrl">
      <h2>Contact list App</h2>
      <table class="table">
        <thead>
          <tr>
            <th>name</th>
            <th>email</th>
            <th>number</th>
            <th>action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <input type="text" name="name" ng-model="contact.name" class="form-control">
            </td>
            <td>
              <input type="email" name="email" ng-model="contact.email" class="form-control">
            </td>
            <td>
              <input type="text" name="number" ng-model="contact.number" class="form-control">
            </td>
            <td>
              <button class="btn btn-block btn-success" ng-click="addContact()" ng-hide="up" >Add</button>
              <button class="btn btn-block btn-info" ng-click="update()" ng-show="up">Update</button>
            </td>
          </tr>
          <tr ng-repeat="contact in contactlist">
            <td>{{contact.name}}</td>
            <td>{{contact.email}}</td>
            <td>{{contact.number}}</td>
            <td>
              <button class="btn btn-xs btn-danger" ng-click="remove(contact._id)">Delete</button>
              <button class="btn btn-xs btn-warning" ng-click="edit(contact._id)">Edit</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js"></script>
    <script src="controller/controller.js" charset="utf-8"></script>
  </body>
</html>
