
#s{	
	padding:4px 7px;
	border:1px solid #dcdcdc;
	background-color:white;
	vertical-align:middle;
	color:#3c3c3c;
}
.ac_results{
	overflow:hidden;z-index:99999;margin:0;padding:0;
	background: white;
}
.ac_results ul{
	list-style-position:outside;
	list-style:none;
	background:white;
	margin:0;
	padding:5px 10px 10px
}
.ac_results li{
	cursor:pointer;
	display:block;
	overflow:auto;
	margin:0;
	padding:0;
	border-top:1px solid #e1e1e1;
}
.ac_results li:first-child{
	border:0;
}
.ac_loading{
	background-image:url(../images/loading.gif);
	background-position:97% center;
	background-repeat:no-repeat;
}
.ac_over{
	background-color:#FFFFF0;
	color:#fb0
}
.ac_over a:hover{color:#000}
.ac_results li a{
	display:block; 
	overflow:auto; 
	padding:10px; 
	color:#2c2c2c;
	text-decoration: none;
	font-size: 1.4em;
}
.ac_results li a img{
	width:auto; 
	height:auto; 
	max-height:80px;
	float:left; 
	margin-right:15px;
}