@font-face {
  font-family: 'titilliumtext25l1_wt';
  src: url("../fonts/titilliumtextxtralight-webfont.eot");
  src: url("../fonts/titilliumtextxtralight-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/titilliumtextxtralight-webfont.woff") format("woff"), url("../fonts/titilliumtextxtralight-webfont.ttf") format("truetype"), url("../fonts/titilliumtextxtralight-webfont.svg#titilliumtext25l1_wt") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'titilliumlight';
  src: url("../fonts/titillium-light-webfont.eot");
  src: url("../fonts/titillium-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/titillium-light-webfont.woff") format("woff"), url("../fonts/titillium-light-webfont.ttf") format("truetype"), url("../fonts/titillium-light-webfont.svg#titilliumlight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'titilliumregular';
  src: url("../fonts/titillium-regular-webfont.eot");
  src: url("../fonts/titillium-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/titillium-regular-webfont.woff") format("woff"), url("../fonts/titillium-regular-webfont.ttf") format("truetype"), url("../fonts/titillium-regular-webfont.svg#titilliumregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'titilliumbold';
  src: url("../fonts/titillium-semibold-webfont.eot");
  src: url("../fonts/titillium-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/titillium-semibold-webfont.woff") format("woff"), url("../fonts/titillium-semibold-webfont.ttf") format("truetype"), url("../fonts/titillium-semibold-webfont.svg#titilliumbold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'titillium_bdbold';
  src: url("../fonts/titillium-bold-webfont.eot");
  src: url("../fonts/titillium-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/titillium-bold-webfont.woff") format("woff"), url("../fonts/titillium-bold-webfont.ttf") format("truetype"), url("../fonts/titillium-bold-webfont.svg#titillium_bdbold") format("svg");
  font-weight: normal;
  font-style: normal; }
html {
  position: relative;
  min-height: 100%; }

body {
  color: #7f7f7f;
  font-family: "titilliumregular", Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0 0 370px; }

a {
  color: white;
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease; }
  a:hover {
    text-decoration: none !important;
    color: #F47920; }

*:focus {
  outline: 0 !important; }

.btn {
  text-transform: uppercase;
  text-align: center; }
  .btn:hover {
    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease; }

.btn-width {
  height: 40px !important;
  width: 220px;
  text-align: center !important; }

.btn-default.default {
  border: 1px solid #F47920;
  color: #F47920;
  font-family: "titilliumbold", Helvetica, Arial, sans-serif;
  font-size: .9em; }
  .btn-default.default:hover {
    background: #F47920;
    color: white;
    border: 1px solid #F47920; }

.btn-warning {
  background: #F47920;
  text-align: center !important; }
  .btn-warning:hover {
    background: #E15526;
    border: 1px solid #E15526;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    color: white; }

.btn-success {
  background: #35B44B; }

.btn-default {
  background-color: transparent; }

.btn-select {
  background: none !important; }

.btn_print {
  margin-right: 5px; }

.btn_x {
  background: #cccccc;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  color: white;
  font-size: .9em;
  padding: 0px 6px; }
  .btn_x:hover {
    background: #F2634D;
    border: 1px solid #F2634D;
    color: white; }

.mar_5 {
  margin: 5px; }

.pl_5 {
  padding-left: 5px !important; }

.pr_5 {
  padding-right: 5px !important; }

.mar_b10 {
  margin-bottom: 10px; }

.padd_cero {
  padding: 0 !important; }

.p_lr {
  padding-left: 0;
  padding-right: 0; }

.btn-cien {
  width: 100%; }

.clear {
  clear: both; }

.center {
  text-align: center; }

.textright {
  text-align: right; }

.bg {
  background: aquamarine; }

.naranjo {
  color: #F47920; }
  .naranjo:hover {
    color: #E15526; }

#search {
  padding: 4px 7px;
  vertical-align: middle; }

.ac_results {
  overflow: hidden;
  z-index: 123456;
  margin: 0;
  padding: 0;
  background: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 25px;
          box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 25px; }
  .ac_results ul {
    list-style-position: outside;
    list-style: none;
    background: white;
    margin: 0;
    padding: 5px; }
  .ac_results li {
    cursor: pointer;
    display: block;
    overflow: auto;
    margin: 0;
    padding: 0;
    border-top: 1px solid #e1e1e1; }
    .ac_results li:first-child {
      border: 0; }

.ac_loading {
  background-image: url(../img/loading.gif);
  background-position: 97% center;
  background-repeat: no-repeat; }

.ac_over {
  color: #ffbb00; }
  .ac_over a:hover {
    color: #000; }

.ac_results li a {
  display: block;
  overflow: auto;
  padding: 10px;
  color: #2c2c2c;
  text-decoration: none;
  font-size: 1.1em;
  line-height: 16px !important; }
  .ac_results li a img {
    height: auto;
    float: left;
    margin-right: 10px;
    margin-left: -2px !important;
    width: 50px; }
  .ac_results li a .title {
    color: #F47920; }
    .ac_results li a .title strong {
      color: #e25300; }
    .ac_results li a .title small {
      color: #666;
      font-size: .7em;
      display: block !important; }
    .ac_results li a .title .date {
      margin-top: 4px; }
  .ac_results li a:hover {
    background: #fafafa; }

.navbar-toggle {
  border: 0px solid; }

.info_scroll div {
  background-color: #e7e7e7; }
  .info_scroll div i {
    opacity: .5; }

.scroll::-webkit-scrollbar {
  width: 6px; }

.scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background: #eee;
  -webkit-border-radius: 10px;
  border-radius: 10px; }
  .scroll::-webkit-scrollbar-track:hover {
    cursor: pointer !important; }

.scroll::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #ccc;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2); }
  .scroll::-webkit-scrollbar-thumb:hover {
    cursor: pointer !important; }

.container_wrap {
  background: white; }

html, body, [canvas=container], [off-canvas] {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%; }

html, body {
  width: 100%;
  height: 100%; }

[canvas] {
  z-index: 1; }

[canvas=container] {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: white;
  /* Basic background color, overwrite this in your own css. */
  -webkit-overflow-scrolling: touch;
  /* Enables momentum scrolling on iOS devices, may be removed by setting to 'auto' in your own CSS. */ }

[canvas=container]:before, [canvas=container]:after {
  clear: both;
  content: '';
  display: table; }

/**
 * Off-Canavs
 */
[off-canvas] {
  display: none;
  position: fixed;
  overflow: hidden;
  overflow-y: auto;
  background-color: black;
  color: white;
  /* Basic colors, overwrite this in your own css. */
  -webkit-overflow-scrolling: touch;
  /* Enables momentum scrolling on iOS devices, may be removed by setting to 'auto' in your own CSS. */ }

[off-canvas*=top] {
  width: 100%;
  height: 255px;
  top: 0; }

[off-canvas*=right] {
  width: 255px;
  height: 100%;
  top: 0;
  right: 0; }

[off-canvas*=bottom] {
  width: 100%;
  height: 255px;
  bottom: 0; }

[off-canvas*=left] {
  width: 255px;
  height: 100%;
  top: 0;
  left: 0; }

[off-canvas*=reveal] {
  z-index: 0; }

[off-canvas*=push] {
  z-index: 1; }

[off-canvas*=overlay] {
  z-index: 9999; }

[canvas], [off-canvas] {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -webkit-transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  -webkit-backface-visibility: hidden;
  /* Prevents flickering but may be removed if your having problems with fixed background images in Chrome. */ }

@media print {
  [canvas] {
    -webkit-transform: translate(0px, 0px) !important;
    -ms-transform: translate(0px, 0px) !important;
    transform: translate(0px, 0px) !important; }

  [off-canvas] {
    display: none !important; } }
.menu {
  vertical-align: middle;
  z-index: 123456; }
  .menu .navbar-toggle {
    padding: 23px 12px; }
  .menu .logo {
    padding: 15px 15px 0 0; }
  .menu .custom-search-form {
    padding: 25px 0; }
    .menu .custom-search-form .form-control {
      background: #7f7f7f;
      border: 1px solid #666666;
      -webkit-border-radius: 4px 0 0 4px;
      border-radius: 4px 0 0 4px; }
      .menu .custom-search-form .form-control::-webkit-input-placeholder {
        color: #cccccc; }
      .menu .custom-search-form .form-control::-moz-placeholder {
        color: #cccccc; }
      .menu .custom-search-form .form-control:-ms-input-placeholder {
        color: #cccccc; }
      .menu .custom-search-form .form-control::placeholder {
        color: #cccccc; }
      .menu .custom-search-form .form-control:focus {
        background: white;
        -webkit-transition-property: color, background;
        -webkit-transition-duration: .1s, .2s;
        -webkit-transition-timing-function: linear, ease-in-out;
        -moz-transition-property: color, background;
        -moz-transition-duration: .1s, .2s;
        -moz-transition-timing-function: linear, ease-in-out; }
      .menu .custom-search-form .form-control:visited {
        background: cyan !important;
        color: white !important; }
  .menu .btn-default {
    background: #F47920;
    color: white;
    border: 1px solid #F47920; }
  .menu .login {
    text-transform: uppercase;
    text-align: center; }
    .menu .login .navbar-nav {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      float: none; }
    .menu .login a {
      padding-top: 30px;
      padding-bottom: 30px; }
      .menu .login a:focus, .menu .login a:hover, .menu .login a.activo {
        background: #333534 !important; }
      .menu .login a.lang {
        border: 1px solid #999999;
        padding: 5px 8px;
        -webkit-border-radius: 5px;
                border-radius: 5px;
        margin-top: 9px;
        margin-right: 10px; }
        .menu .login a.lang:hover {
          background: #F47920;
          border: 1px solid #F47920;
          color: white; }
    .menu .login .open > a:hover,
    .menu .login .open > a:focus {
      background: transparent; }
    .menu .login .ingreso {
      background: #333534;
      border: 1px solid #333534;
      font-size: .8em;
      padding: 26px;
      width: 300px; }
      .menu .login .ingreso label {
        color: #cccccc;
        text-transform: capitalize; }
      .menu .login .ingreso .ext a {
        color: #F47920;
        padding: 0; }
      .menu .login .ingreso .ext a:nth-child(2) {
        margin-bottom: 15px !important; }
      .menu .login .ingreso .pass {
        text-align: center;
        margin: 0 0 20px 0; }
        .menu .login .ingreso .pass .ho:hover {
          background-color: transparent !important; }
      .menu .login .ingreso button {
        background: #F47920;
        border: 1px solid #F47920;
        padding-right: 30px;
        padding-left: 30px;
        font-family: "titilliumlight", Helvetica, Arial, sans-serif; }
        .menu .login .ingreso button:hover {
          background: #E15526;
          border: 1px solid #E15526; }
  .menu ::after {
    clear: none !important; }

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background: #333534 !important; }

.off_canvas {
  padding: 15px; }
  .off_canvas h3 {
    margin-bottom: 25px; }
  .off_canvas .menu_offcanvas {
    padding: 0;
    width: 100%; }
    .off_canvas .menu_offcanvas li {
      list-style: none; }
      .off_canvas .menu_offcanvas li a {
        border-bottom: 1px solid #333;
        color: #B3B3B3;
        display: block;
        font-size: 1.3em;
        padding: 8px 0; }

#footer {
  background: #141414;
  color: #7f7f7f;
  padding: 40px 0 45px 0;
  width: 100%; }
  #footer .btn {
    color: #cccccc !important;
    border-color: #cccccc !important;
    margin-bottom: 15px; }
    #footer .btn:hover {
      color: #333333 !important;
      background: #e6e6e6 !important; }
  #footer .pv img {
    -webkit-transition: all .5s;
            transition: all .5s; }
    #footer .pv img:hover {
      opacity: .5; }
  #footer a {
    color: #7f7f7f; }
    #footer a:hover {
      color: #F47920; }
  #footer p {
    font-size: .9em;
    line-height: 15px;
    margin: 0 !important; }
    #footer p strong {
      color: #666666; }
  #footer .redes {
    margin-top: 15px; }
    #footer .redes a {
      background: white;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      color: #0c0c0c;
      font-size: 1.5em;
      height: 34px;
      padding: 8px;
      margin: 4px;
      text-align: center;
      width: 34px; }
      #footer .redes a:hover {
        background: #F47920; }

h3 {
  color: #999999;
  margin: 20px 0;
  font-family: "titilliumlight", Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  padding: 15px 0;
  text-transform: uppercase; }

.text1 {
  font-family: "titilliumbold", Helvetica, Arial, sans-serif;
  font-size: 1.1em; }

.text2 {
  color: #F47920; }

.padd_5 {
  padding-left: 5px;
  padding-right: 5px; }

.a2a_default_style .a2a_svg, .a2a_floating_style .a2a_svg {
  -webkit-border-radius: 0 !important;
          border-radius: 0 !important; }

.a2a_svg {
  background-position: center 0 !important;
  background-repeat: no-repeat !important;
  height: 30px !important;
  width: 48px !important;
  opacity: .95; }

.a2a_s_facebook {
  background: #3B579D; }

.a2a_s_twitter {
  background: #55acee; }

.a2a_s_pinterest {
  background: #C62122 url("http://w.sharethis.com/images/pinterest_32.png") center 0 no-repeat !important; }

.a2a_button_linkedin {
  background: #007BB6;
  margin-left: 2px; }

.interna {
  min-height: 700px;
  margin-top: 100px; }
  .interna .title_interna {
    padding: 5px 0 0 0;
    display: inline-block;
    width: 100%;
    font-family: "titilliumlight", Helvetica, Arial, sans-serif; }
    .interna .title_interna h2 {
      color: #999999;
      font-size: 2em;
      margin-top: 25px; }
      .interna .title_interna h2 span {
        display: block;
        font-size: .65em; }
    .interna .title_interna img {
      vertical-align: top; }
    .interna .title_interna .fecha {
      color: #999999;
      font-size: 1.38em;
      padding-top: 50px;
      text-align: right; }
  .interna.carro .title_thumb, .interna.carro h2 {
    display: inline-block; }
  .interna.carro .title_thumb {
    margin-top: 29px;
    margin-right: 5px;
    height: 64px;
    width: 64px; }
  .interna.carro #steps {
    padding: 20px 15px 10px 15px; }
    .interna.carro #steps .col {
      text-align: center; }
    .interna.carro #steps .borde {
      background: white;
      border: 1px solid #cccccc;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      display: inline-block;
      height: 64px;
      padding: 6px;
      text-align: center;
      vertical-align: middle;
      width: 64px; }
      .interna.carro #steps .borde .step {
        background: white;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        color: #999999;
        display: inline-block;
        height: 50px;
        font-size: 1.1em;
        padding: 15px;
        text-align: center;
        vertical-align: middle;
        width: 50px; }
    .interna.carro #steps .active .step {
      background: #F47920;
      color: white; }
    .interna.carro #steps .active span {
      color: #F47920; }
    .interna.carro #steps span {
      color: #999999;
      display: block;
      margin-top: 10px; }
    .interna.carro #steps .bar {
      height: 10px;
      background: #e6e6e6;
      width: 96%;
      position: absolute;
      top: 39%;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      z-index: -1; }
  .interna .cuerpo {
    margin: 30px 0; }
  .interna .info_tab {
    margin: 15px 0 20px 0;
    padding-left: 0px !important;
    padding-right: 0px !important; }
    .interna .info_tab .nav-tabs {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around; }
      .interna .info_tab .nav-tabs li {
        background: #f0f0f0;
        -webkit-flex-grow: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
        text-align: center; }
        .interna .info_tab .nav-tabs li.active a {
          background: #F47920;
          color: white;
          -webkit-box-shadow: none !important;
                  box-shadow: none !important; }
        .interna .info_tab .nav-tabs li a {
          color: #666666;
          background: #f0f0f0;
          text-transform: uppercase; }
          .interna .info_tab .nav-tabs li a:hover, .interna .info_tab .nav-tabs li a:active {
            background: #F47920;
            color: white; }
    .interna .info_tab .tab-pane {
      min-height: 245px; }
      .interna .info_tab .tab-pane#general .img_artist {
        float: left;
        width: 250px; }
        .interna .info_tab .tab-pane#general .img_artist .img_artist_thumb {
          height: 230px;
          width: 230px; }
      .interna .info_tab .tab-pane#general .resumen {
        font-size: 1.05em;
        max-height: 214px;
        padding-right: 15px;
        overflow-y: auto; }
      .interna .info_tab .tab-pane#video {
        text-align: center !important; }
  .interna .description_event .img_artist {
    padding-left: 0; }
  .interna .description_event .dcto {
    margin-top: 10px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .interna .description_event .dcto img {
      display: inline !important; }
  .interna .description_event .resumen {
    padding-bottom: 15px; }
    .interna .description_event .resumen strong {
      color: #F47920; }
    .interna .description_event .resumen p {
      display: inline-block; }
    .interna .description_event .resumen .embed_video {
      margin: 25px 0; }
  .interna .description_event a.show-more {
    width: 110px;
    margin-top: 20px; }
  .interna .description_event .showmore_shadow {
    position: relative;
    top: 0px;
    width: 100%; }
    .interna .description_event .showmore_shadow img {
      position: absolute;
      top: -30px; }
  .interna .dsto_social {
    display: inline-block;
    margin-top: 15px;
    width: 100%; }
    .interna .dsto_social .icon_share {
      padding-top: 10px; }
  .interna .location {
    margin: 0;
    display: inline-block;
    width: 100%; }
    .interna .location .map {
      padding-bottom: 10px; }
      .interna .location .map p {
        color: #999999;
        font-size: .9em;
        margin-top: 10px; }
    .interna .location .tabla_precios {
      margin-bottom: 10px;
      padding-left: 0 !important;
      padding-right: 0 !important; }
      .interna .location .tabla_precios thead tr th {
        border-bottom: 0px solid !important; }
        .interna .location .tabla_precios thead tr th:first-child {
          -webkit-border-radius: 4px 0 0 0;
                  border-radius: 4px 0 0 0; }
        .interna .location .tabla_precios thead tr th:last-child {
          -webkit-border-radius: 0 4px 0 0;
                  border-radius: 0 4px 0 0; }
        .interna .location .tabla_precios thead tr th:nth-child(2), .interna .location .tabla_precios thead tr th:nth-child(3), .interna .location .tabla_precios thead tr th:nth-child(4) {
          text-align: center; }
      .interna .location .tabla_precios tbody .tr_bg {
        background: #FFF7E5; }
      .interna .location .tabla_precios tbody td {
        border-top: 0px solid;
        color: #7f7f7f;
        padding: 7px 8px; }
        .interna .location .tabla_precios tbody td:first-child {
          padding: 5px; }
        .interna .location .tabla_precios tbody td:nth-child(2), .interna .location .tabla_precios tbody td:nth-child(3), .interna .location .tabla_precios tbody td:nth-child(4) {
          border-right: 1px solid #e6e6e6;
          text-align: center; }
        .interna .location .tabla_precios tbody td:last-child {
          width: 18%;
          padding-bottom: 0; }
        .interna .location .tabla_precios tbody td .btn {
          color: #666666;
          font-size: 10px;
          height: 22px;
          padding: 2px 3px; }
        .interna .location .tabla_precios tbody td .form-control {
          padding: 2px 5px !important;
          height: 22px;
          text-align: center; }
        .interna .location .tabla_precios tbody td .input-group {
          display: none; }
    .interna .location .color {
      display: inline-block;
      height: 12px;
      margin-right: 4px;
      width: 12px; }
      .interna .location .color.color0 {
        background: #999; }
      .interna .location .color.color1 {
        background: #f2654e; }
      .interna .location .color.color2 {
        background: #35A8DF; }
      .interna .location .color.color3 {
        background: #58C9EA; }
      .interna .location .color.color4 {
        background: #2DB34B; }
      .interna .location .color.color5 {
        background: #25B575; }
      .interna .location .color.color6 {
        background: #F0BD4F; }
  .interna .fechas h3 {
    margin-bottom: 0;
    border-bottom: 0px solid; }
  .interna .fechas h3.sub {
    margin-bottom: 0;
    padding-bottom: 0 !important;
    border-bottom: 0px solid; }
  .interna .fechas p {
    color: #999999; }
  .interna .fechas .contenedor_fechas {
    display: inline-block;
    min-height: 110px;
    margin: 20px 0 30px 0;
    padding-left: 0 !important;
    width: 100%; }
  .interna .fechas .detalle_entradas {
    background: #f0f0f0;
    color: #7f7f7f;
    display: inline-block;
    line-height: 1.2em;
    padding: 15px 0;
    width: 100%; }
  .interna .fechas .btn-acciones {
    padding-top: 15px; }
    .interna .fechas .btn-acciones select,
    .interna .fechas .btn-acciones button {
      width: 100%; }
  .interna .fechas .btn_fecha {
    color: white;
    font-family: "titilliumlight", Helvetica, Arial, sans-serif;
    margin: 0px 5px 10px 0px;
    min-width: 94px;
    padding: 0px;
    text-align: center; }
    .interna .fechas .btn_fecha .inp-checkbox {
      position: absolute;
      left: -99999px; }
    .interna .fechas .btn_fecha .btn-inactivo {
      background: #f0f0f0;
      -webkit-border-radius: 4px !important;
              border-radius: 4px !important;
      -webkit-box-shadow: inset -3px 2px 5px rgba(0, 0, 0, 0.05);
              box-shadow: inset -3px 2px 5px rgba(0, 0, 0, 0.05);
      color: #7f7f7f;
      height: 107px;
      line-height: 2.5em;
      -webkit-transition: all .2s;
              transition: all .2s;
      padding: 0 12px 2px 12px;
      text-align: center;
      width: 90px; }
      .interna .fechas .btn_fecha .btn-inactivo .number {
        font-size: 3em;
        display: block;
        padding: 0; }
    .interna .fechas .btn_fecha .more_events {
      line-height: 1.3em;
      padding-top: 10px; }
      .interna .fechas .btn_fecha .more_events .number {
        font-size: 1.85em !important;
        margin: 15px 0; }
    .interna .fechas .btn_fecha .btn-warning {
      background: #F47920 !important;
      border: 1px solid #F47920;
      -webkit-box-shadow: 0 3px 2px rgba(0, 0, 0, 0.25);
      box-shadow: 0 3px 2px rgba(0, 0, 0, 0.25);
      color: #FFF; }
  .interna .botonera {
    background: #f0f0f0;
    margin: 15px 0;
    padding: 30px 15px; }
    .interna .botonera .styledCheckbox {
      float: left;
      margin-top: 2px;
      margin-right: 15px; }
    .interna .botonera label {
      margin-left: 5px; }
  .interna .table_orden {
    color: #999999;
    display: inline-block;
    margin: 20px 0 0 0;
    width: 100%; }
    .interna .table_orden .table-responsive {
      margin: 0; }
    .interna .table_orden table {
      margin-bottom: 0; }
    .interna .table_orden tbody tr {
      background: #f1f1f1; }
      .interna .table_orden tbody tr td {
        border-top: 0px solid;
        padding: 12px 9px; }
      .interna .table_orden tbody tr .input-group {
        padding: 0; }
        .interna .table_orden tbody tr .input-group .input-group-btn {
          float: left;
          display: inherit; }
        .interna .table_orden tbody tr .input-group .input-number {
          background: none;
          border: 0px solid !important;
          display: inline-block;
          float: left;
          height: 22px;
          outline: 0 !important;
          -webkit-box-shadow: none !important;
                  box-shadow: none !important;
          width: 20px; }
        .interna .table_orden tbody tr .input-group .btn-number {
          padding: 1px 12px;
          font-family: "titilliumlight", Helvetica, Arial, sans-serif !important; }
      .interna .table_orden tbody tr.destacado td {
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        padding-top: 20px;
        padding-bottom: 20px; }
      .interna .table_orden tbody tr.total {
        font-family: "titilliumbold", Helvetica, Arial, sans-serif;
        font-size: 1.3em;
        color: #7f7f7f; }
        .interna .table_orden tbody tr.total td {
          border-top: 1px solid #e9e9e9;
          padding-top: 20px;
          padding-bottom: 20px; }
    .interna .table_orden .buy_table .buy_row {
      background-color: #F3F3F3;
      border: 1px solid #cccccc;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      display: inline-block;
      line-height: 38px;
      margin-bottom: 6px;
      padding: 10px 0;
      width: 100%; }
      .interna .table_orden .buy_table .buy_row strong {
        font-family: 'titillium_bdbold'; }
    .interna .table_orden .buy_table .total {
      background-color: #FDFDFD; }
  .interna .accion {
    background: #EBEBEB;
    border: 1px solid #e7e7e7;
    -webkit-border-radius: 0 0 7px 7px;
            border-radius: 0 0 7px 7px;
    padding: 10px 0; }
    .interna .accion .precios .logo_descuento {
      display: inline-block;
      float: left;
      margin: 10px; }
    .interna .accion .precios p {
      display: inline-block;
      margin: 0; }
    .interna .accion .precios span {
      font-size: 1.8em !important;
      display: block; }
    .interna .accion .btn {
      margin-top: 8px; }
    .interna .accion .confirm {
      background-color: #B3B3B3;
      color: white;
      font-size: .9em;
      margin-bottom: 15px;
      margin-top: -10px;
      padding: 3px;
      text-align: center; }
      .interna .accion .confirm a {
        color: #E1E1E1; }
  .interna .shipping {
    display: inline-block;
    margin: 30px 0;
    width: 100%; }
    .interna .shipping .styledRadio {
      display: inline-block !important;
      margin-right: 15px;
      margin-bottom: -2px; }
    .interna .shipping .panel-default {
      padding: 5px 0;
      border: 0px solid;
      -webkit-box-shadow: none;
              box-shadow: none; }
      .interna .shipping .panel-default label {
        color: #6B6B6B;
        height: 20px;
        font-size: 1.1em; }
      .interna .shipping .panel-default .inactivo {
        color: #A6A6A6; }
      .interna .shipping .panel-default span {
        display: inline-block;
        width: 65px;
        margin-right: 10px;
        text-align: right; }
  .interna .select_pay {
    display: inline-block;
    margin-bottom: 30px;
    width: 100%; }
    .interna .select_pay .bank {
      padding: 0px 8px;
      text-align: center; }
    .interna .select_pay input[type=radio],
    .interna .select_pay .styledRadio {
      display: none !important; }
    .interna .select_pay label {
      padding: 0 !important; }
    .interna .select_pay .color {
      border: 2px solid #e6e6e6;
      -webkit-border-radius: 4px;
              border-radius: 4px; }
    .interna .select_pay .grey {
      border: 2px solid #e6e6e6;
      -webkit-border-radius: 4px;
              border-radius: 4px; }
    .interna .select_pay .conteiner_info_bank {
      padding: 8px; }
      .interna .select_pay .conteiner_info_bank .legal {
        border: 2px solid #e6e6e6;
        -webkit-border-radius: 4px;
                border-radius: 4px;
        font-size: .9em;
        min-height: 100px;
        padding: 20px !important; }
  .interna .wrap_confirmacion {
    background: rgba(0, 0, 0, 0.01);
    border-left: 1px solid rgba(244, 121, 32, 0.3);
    border-top: 1px solid rgba(244, 121, 32, 0.3);
    border-right: 1px solid rgba(244, 121, 32, 0.3);
    -webkit-border-radius: 7px 7px 0 0;
            border-radius: 7px 7px 0 0;
    display: inline-block;
    margin-top: 15px;
    width: 100%; }
    .interna .wrap_confirmacion .confirmacion {
      display: inline-block;
      margin: 15px 0;
      width: 100%; }
      .interna .wrap_confirmacion .confirmacion h3 {
        margin: 5px 0; }
      .interna .wrap_confirmacion .confirmacion p {
        line-height: 1em;
        color: #999999; }
      .interna .wrap_confirmacion .confirmacion .info_evento {
        border-right: 0px solid #e6e6e6; }
      .interna .wrap_confirmacion .confirmacion .resumen_compra {
        color: #999999; }
        .interna .wrap_confirmacion .confirmacion .resumen_compra th {
          border-bottom: 1px solid #e6e6e6;
          font-weight: 300;
          font-family: "titilliumlight", Helvetica, Arial, sans-serif;
          padding-top: 0 !important; }
        .interna .wrap_confirmacion .confirmacion .resumen_compra td {
          border-top: 1px solid #e6e6e6 !important; }
      .interna .wrap_confirmacion .confirmacion .oc {
        font-size: 1.5em; }
      .interna .wrap_confirmacion .confirmacion .table_orden {
        margin-top: 0; }
        .interna .wrap_confirmacion .confirmacion .table_orden tbody tr {
          background: none; }
  .interna.exito .info_evento p, .interna.exito .info_evento h3:not(.naranjo),
  .interna.exito .resumen_compra p,
  .interna.exito .resumen_compra h3:not(.naranjo) {
    padding-left: 10px; }
  .interna.exito .title h2 {
    color: #F47920; }
    .interna.exito .title h2 span {
      display: block;
      color: #999999;
      font-size: .9em; }
  .interna.exito .confirmacion {
    margin-bottom: 0px; }
    .interna.exito .confirmacion thead th {
      border-bottom: 1px solid #e6e6e6; }
    .interna.exito .confirmacion .exito_destacado td {
      background: #f5f5f5; }
  .interna .terminos {
    color: #7f7f7f;
    font-size: .9em;
    margin: 30px 0; }
  .interna.terminos_condiciones {
    display: inline-block;
    width: 100%; }
    .interna.terminos_condiciones h2 {
      margin: 30px 0 !important; }
    .interna.terminos_condiciones p {
      margin-bottom: 20px; }
  .interna .mi_cuenta .tab-pane {
    min-height: 500px;
    padding: 30px 0; }
    .interna .mi_cuenta .tab-pane h3 {
      color: #7f7f7f;
      font-size: 1.5em;
      margin-bottom: 5px; }
    .interna .mi_cuenta .tab-pane .thead {
      border-bottom: 1px solid #ddd;
      display: inline-block;
      font-weight: 600;
      margin-bottom: 10px;
      padding-bottom: 10px;
      width: 100%; }
    .interna .mi_cuenta .tab-pane .tbody {
      border-bottom: 1px solid #eee;
      display: inline-block;
      margin-bottom: 5px;
      padding-bottom: 10px;
      width: 100%; }
    .interna .mi_cuenta .tab-pane a {
      color: #F47920 !important; }
  .interna .mi_cuenta #direcciones .article_address {
    background: #f3f3f3;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    border: 1px solid #D9D9D9;
    position: relative;
    padding: 15px;
    margin-bottom: 15px;
    -webkit-transition: all .3s;
            transition: all .3s; }
    .interna .mi_cuenta #direcciones .article_address h2 {
      font-size: 1.3em;
      margin: 0 0 5px 0; }
    .interna .mi_cuenta #direcciones .article_address p {
      margin: 0; }
    .interna .mi_cuenta #direcciones .article_address .btn_x {
      position: absolute;
      right: 10px;
      top: 10px; }
  .interna .mi_cuenta #direcciones .article_address:hover,
  .interna .mi_cuenta #direcciones .address_active {
    cursor: pointer;
    border: 1px solid #F47920 !important;
    background-color: rgba(255, 224, 170, 0.17) !important; }
  .interna .mi_cuenta #direcciones .form {
    background-color: #F3F3F3 !important;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    width: 100%;
    display: inline-block;
    padding: 15px 15px 50px 15px; }
    .interna .mi_cuenta #direcciones .form .col {
      padding: 5px; }
    .interna .mi_cuenta #direcciones .form .input_child {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -ms-flexbox;
      display: flex; }
      .interna .mi_cuenta #direcciones .form .input_child .p_lr:first-child {
        padding-right: 4px; }
      .interna .mi_cuenta #direcciones .form .input_child .p_lr:last-child {
        padding-left: 4px; }
    .interna .mi_cuenta #direcciones .form .import {
      padding-right: 20px; }
    .interna .mi_cuenta #direcciones .form .btn {
      margin-top: 15px;
      margin-right: 2px; }
  .interna .etickets h3 {
    color: #7f7f7f;
    font-size: 1.5em;
    margin-bottom: 5px; }
  .interna .pass_recovery {
    background: #f3f3f3;
    display: inline-block;
    padding: 30px;
    width: 100%; }
  .interna .form_interno {
    background: #f0f0f0;
    border-top: 2px solid #F47920;
    display: inline-block;
    padding: 20px; }
    .interna .form_interno input, .interna .form_interno select {
      margin: 10px 0; }
    .interna .form_interno .mt_btn {
      margin-top: 30px; }
    .interna .form_interno .nacieminto, .interna .form_interno .sexo {
      margin: 10px 0;
      width: 100%;
      display: inline-block; }
    .interna .form_interno .label_fecha {
      padding-top: 10px; }
    .interna .form_interno .styledRadio {
      display: inline-block; }
    .interna .form_interno .dia, .interna .form_interno .mes, .interna .form_interno .ano {
      padding: 3px; }
      .interna .form_interno .dia input, .interna .form_interno .mes input, .interna .form_interno .ano input {
        margin: 0 !important; }
  .interna .bg_dscto {
    color: white !important;
    height: 350px;
    font-family: "titilliumlight", Helvetica, Arial, sans-serif; }
    .interna .bg_dscto h2, .interna .bg_dscto .fecha {
      color: white !important; }
    .interna .bg_dscto .fecha {
      padding-top: 25px; }
    .interna .bg_dscto .mensaje {
      margin-top: 8%;
      font-size: 1.2em; }
      .interna .bg_dscto .mensaje strong {
        font-family: "titilliumbold", Helvetica, Arial, sans-serif;
        font-size: 1.2em; }
    .interna .bg_dscto .letra {
      font-size: .75em;
      margin-top: 5%; }
  .interna .dscto_enjoy {
    min-height: 350px; }
    .interna .dscto_enjoy h2 {
      color: #999999;
      padding-right: 110px;
      padding-left: 110px; }
    .interna .dscto_enjoy .mt_btn label {
      padding-left: 0 !important; }
    .interna .dscto_enjoy .mt_btn .check_inline {
      display: inline-block;
      margin-right: 10px; }
  .interna .data_user h2 {
    color: #999999;
    font-size: 1.9em; }
    .interna .data_user h2 span {
      display: block;
      font-size: .6em;
      line-height: 20px; }
  .interna .puntosventa {
    min-height: 700px; }
    .interna .puntosventa .map_regiones {
      background-color: white !important; }
      .interna .puntosventa .map_regiones ul {
        display: block;
        border-bottom: 0px solid !important; }
        .interna .puntosventa .map_regiones ul li {
          display: block;
          background-color: white; }
      .interna .puntosventa .map_regiones a, .interna .puntosventa .map_regiones .active a {
        padding: 0;
        border: 0px solid;
        -webkit-box-shadow: inset 0 0 0 0 transparent !important;
                box-shadow: inset 0 0 0 0 transparent !important;
        cursor: pointer !important; }
      .interna .puntosventa .map_regiones .n_2, .interna .puntosventa .map_regiones .c_2, .interna .puntosventa .map_regiones .s_2 {
        display: none; }
    .interna .puntosventa .puntos {
      padding-top: 0; }
      .interna .puntosventa .puntos .zone_header {
        border-bottom: 0px solid;
        display: none;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin-bottom: 20px; }
        .interna .puntosventa .puntos .zone_header li a {
          font-size: .8em;
          -webkit-flex-grow: 1;
              -ms-flex-positive: 1;
                  flex-grow: 1; }
      .interna .puntosventa .puntos h2 {
        font-size: 1.5em;
        margin: 0 0 20px 15px !important; }
      .interna .puntosventa .puntos h3 {
        color: #F47920;
        font-size: 1.2em;
        text-transform: capitalize;
        margin: 5px 0 15px 0 !important;
        padding: 5px 0; }
      .interna .puntosventa .puntos .tab-content .panel-heading {
        padding: 0; }
        .interna .puntosventa .puntos .tab-content .panel-heading a {
          color: #F47920;
          display: inline-block;
          padding: 10px 15px;
          width: 100%; }
      .interna .puntosventa .puntos .tab-content table tr td {
        color: #B3B3B3; }
        .interna .puntosventa .puntos .tab-content table tr td strong {
          color: #191919;
          display: block; }
          .interna .puntosventa .puntos .tab-content table tr td strong .ico {
            margin-left: -16px;
            margin-top: -1px;
            margin-right: 5px; }
        .interna .puntosventa .puntos .tab-content table tr td span {
          display: block;
          font-size: .7em;
          font-style: oblique;
          margin: 0; }
