@import url(../bower_components/bootstrap/dist/css/bootstrap.css);
.clear {
  clear: both; }

* {
  outline: 0 !important; }

html {
  height: 100%; }

body {
  background: white;
  font-family: 'Titillium Web', sans-serif;
  height: 100%;
  font-size: 14px; }

h2 {
  font-weight: 200; }

input,
textarea {
  border-radius: 3px !important;
  padding: 25px 15px !important; }
  input:focus,
  textarea:focus {
    background: #bfffea; }

input {
  height: 65px !important; }

.violet {
  background: #9f5faa; }

.btn-skyblue {
  color: white;
  border-radius: 3px;
  background-color: #00B4E3;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  width: 35%;
  margin-top: 15%; }
  .btn-skyblue:hover {
    color: white;
    background: #00d0e2;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3); }

.btn-black {
  color: white;
  width: 223px;
  height: 60px;
  margin-top: 5px;
  border-radius: 2px;
  background-color: #2A3138;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  font-family: Lato,sans-serif;
  font-size: 13px; }
  .btn-black:hover {
    color: white;
    background: #2c445b;
    width: 300px; }

.center {
  text-align: center; }

.block {
  margin: 40px 0; }

.width100 {
  color: white;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 50px 0;
  width: 100%; }

header {
  background-color: #091B27;
  background-image: url("../img/fondonuevo.jpg");
  background-position: 50% 0px;
  background-repeat: no-repeat; }
  header .nav-top {
    background: none;
    border: 0 solid !important;
    height: 118px;
    margin-top: 50px;
    -webkit-transform: translate(0px, -50px);
        -ms-transform: translate(0px, -50px);
            transform: translate(0px, -50px); }
    header .nav-top .navbar-toggle {
      border: 0 solid !important; }
      header .nav-top .navbar-toggle:hover {
        background: none !important; }
      header .nav-top .navbar-toggle .icon-bar {
        background: white; }
    header .nav-top .navbar-nav {
      margin-top: 20px; }
      header .nav-top .navbar-nav a {
        color: white; }
      header .nav-top .navbar-nav .dropdown-menu {
        background: rgba(3, 20, 30, 0.8) !important;
        padding: 0; }
        header .nav-top .navbar-nav .dropdown-menu a {
          -webkit-transition: all .2s;
                  transition: all .2s;
          padding: 12px 20px; }
          header .nav-top .navbar-nav .dropdown-menu a:hover {
            background: rgba(16, 51, 73, 0.9) !important; }
    header .nav-top.navbar-fixed-top {
      margin-top: 0px !important;
      background: #131921;
      padding: 5px 15px 0 15px;
      height: 60px !important;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
      -webkit-transition: -webkit-transform .8s;
              transition: transform .8s;
      -webkit-transform: translate(0px, 0px);
          -ms-transform: translate(0px, 0px);
              transform: translate(0px, 0px);
      z-index: 123456789 !important; }
      header .nav-top.navbar-fixed-top .navbar-brand {
        padding: 0 !important; }
        header .nav-top.navbar-fixed-top .navbar-brand img {
          width: 90px; }
      header .nav-top.navbar-fixed-top .navbar-nav {
        margin-top: 0; }
  header .section {
    color: white;
    text-align: center; }
    header .section h1 {
      font-size: 4em;
      font-weight: 200; }
      header .section h1 span {
        font-weight: 700;
        display: block; }
    header .section h2 {
      font-weight: 700;
      margin: 20px 0; }
    header .section .description {
      line-height: 1.8em;
      margin: 30px 0 80px 0;
      text-align: left; }
      header .section .description p {
        margin-bottom: 25px; }
  header .header_circle {
    margin-top: 50px;
    margin-bottom: 50px; }
    header .header_circle .circle {
      border: 2px solid white;
      border-radius: 50%;
      max-height: 150px;
      line-height: 150px;
      width: 150px;
      float: none !important;
      margin: 0 2%;
      padding: 0 15px;
      display: inline-block; }
    header .header_circle .destacado {
      display: inline-block;
      vertical-align: middle;
      line-height: 14px;
      font-weight: 700;
      font-size: 1.1em; }
      header .header_circle .destacado span {
        font-weight: 200;
        display: block;
        font-size: .9em; }

section .project {
  margin-top: 40px; }
  section .project .impulsados_clientes {
    opacity: .4;
    margin: 40px 0; }
  section .project.mar-top {
    margin-top: 230px !important; }
section .portafolio .portafolio_app {
  margin: 10px 0; }
section .figure {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 0;
  float: left; }
  section .figure .thumbs {
    width: 100%;
    height: 100%; }
    section .figure .thumbs img {
      position: relative;
      min-width: 100%;
      max-height: 120%;
      -webkit-transition: all 0.25s ease-in-out;
      -mos-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out;
      z-index: -2; }
  section .figure:hover .thumbs img {
    -webkit-transform: translateY(-1em);
    -mos-transform: translateY(-1em);
    -ms-transform: translateY(-1em);
        transform: translateY(-1em); }
  section .figure figcaption {
    background: #11b1ff;
    height: 2.6em;
    left: 0;
    bottom: -4.063em;
    color: #fff;
    position: absolute;
    -webkit-transition: all 0.25s ease-in-out;
    -mos-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    z-index: 5;
    width: 100%; }
    section .figure figcaption a {
      color: white;
      font-size: 1.3em;
      font-weight: 200;
      padding: 4px 15px 0 15px;
      position: absolute;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 14.5em;
      white-space: nowrap;
      z-index: 3; }
      section .figure figcaption a:hover {
        text-decoration: none; }
    section .figure figcaption:after {
      content: "";
      display: block;
      position: absolute;
      bottom: 1.563em;
      right: 0;
      border-right: 25em solid #0C88C5;
      border-top: 2.5em solid transparent; }
    section .figure figcaption:before {
      content: "";
      display: block;
      position: absolute;
      bottom: 1.563em;
      right: 0;
      border-left: 25em solid #11b1ff;
      border-top: 2.5em solid transparent;
      z-index: 1; }
  section .figure:hover figcaption {
    bottom: 0; }
section.message {
  background: #131921;
  color: white;
  display: inline-block;
  padding: 50px 0;
  width: 100%; }
  section.message h2 {
    margin-bottom: 30px;
    font-weight: 200; }
    section.message h2 span {
      font-weight: 700; }
      section.message h2 span.skyblue {
        color: #00b4e3 !important; }
section .stages h3 {
  font-size: 1.4em; }
section .stages .col-xs-3 {
  padding: 0px 35px; }
  section .stages .col-xs-3 h3 {
    margin: 25px 0; }
  section .stages .col-xs-3 p {
    color: #7f7f7f; }
section.contact {
  margin-bottom: 40px; }
  section.contact .contact_form {
    background: #00b4e3;
    display: block;
    padding: 40px 25px; }
    section.contact .contact_form .form-control {
      margin-bottom: 15px; }

footer {
  background: #2A3138;
  color: white;
  display: inline-block;
  width: 100%; }
  footer .message {
    background: #343e44 !important; }
    footer .message h2 {
      padding: 15px;
      font-weight: 200; }
      footer .message h2 span {
        font-weight: 700; }
        footer .message h2 span.skyblue {
          color: #00b4e3 !important; }
  footer .footer {
    color: #7f7f7f;
    padding: 30px 0; }
    footer .footer p {
      margin-bottom: 5px; }
  footer .copy {
    background: #343e44;
    color: #7f7f7f;
    padding: 6px; }

@-moz-document url-prefix() {
  figcaption:after {
    content: none !important; }
  figcaption:before {
    content: none !important; } }
